force-app/main/default/flows/Class_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>FallCollectionAssignment</name>
        <label>FallCollection</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>FallCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Winter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SpringCollectionAssignment</name>
        <label>SpringCollection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SpringCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SummerCollectionAssignment</name>
        <label>SummerCollection</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SummerCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WinterCollectionAssignment</name>
        <label>WinterCollection</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WinterCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Winter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Session</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Fall</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Fall</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Fall</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Clients</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Fall.Class_Session__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Fall</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>FallCollectionAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Spring</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Spring</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Spring_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Clients</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Spring_0.Class_Session__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Spring</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SpringCollectionAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Summer</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Summer</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Summer</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Clients</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Summer.Class_Session__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Summer</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SummerCollectionAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Winter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Winter</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Winter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Clients</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Winter.Class_Session__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Winter</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>WinterCollectionAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>Last90days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 90</expression>
    </formulas>
    <formulas>
        <name>Next365Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 365</expression>
    </formulas>
    <interviewLabel>Class Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Class Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Clients</name>
        <label>Get Clients</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Spring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class_start_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last90days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_start_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Next365Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Class__c</object>
        <sortField>Rider_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFall</name>
        <label>UpdateFall</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>UpdateWinter</targetReference>
        </connector>
        <inputReference>FallDataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSpring</name>
        <label>UpdateSpring</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>UpdateSummer</targetReference>
        </connector>
        <inputReference>SpringDataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSummer</name>
        <label>UpdateSummer</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>UpdateFall</targetReference>
        </connector>
        <inputReference>SummerDataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWinter</name>
        <label>UpdateWinter</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Clients</targetReference>
        </connector>
        <inputReference>WinterDataTable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Session</name>
        <label>Select Session</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateSpring</targetReference>
        </connector>
        <fields>
            <name>Select_Session_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Session_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Session_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SessionSelector</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Winter&quot;,&quot;value&quot;:&quot;Winter&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Spring&quot;,&quot;value&quot;:&quot;Spring&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Summer&quot;,&quot;value&quot;:&quot;Summer&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Fall&quot;,&quot;value&quot;:&quot;Fall&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:3}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <stringValue>yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Session_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SpringDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Client_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Client_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Class_Name__c,Class_Info__c,Class_start_date__c,Rider_Name__c,Client_Level__c,Preference__c,Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Class_Name__c:274, Class_Info__c:232, Class_start_date__c:144, Rider_Name__c:194, Client_Level__c:105, Preference__c:121, Status__c:272</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SpringCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true, Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SessionSelector.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Spring</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SummerDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Client_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Client_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SummerCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true, Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Class_Name__c,Class_Info__c,Class_start_date__c,Rider_Name__c,Client_Level__c,Preference__c,Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Class_Name__c:260, Class_Info__c:310, Class_start_date__c:135, Rider_Name__c:161, Client_Level__c:119, Preference__c:121, Status__c:119</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Class_start_date__c:false, Class_Info__c:false, Class_Name__c:true, Rider_Name__c:true, Preference__c:true, Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SessionSelector.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Summer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FallDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Client_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Client_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FallCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true, Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Class_Name__c,Class_Info__c,Class_start_date__c,Rider_Name__c,Client_Level__c,Preference__c,Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Class_Name__c:261, Class_Info__c:272, Class_start_date__c:147, Rider_Name__c:180, Client_Level__c:124, Preference__c:110, Status__c:137</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Class_start_date__c:false, Class_Info__c:false, Class_Name__c:true, Rider_Name__c:true, Preference__c:true, Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SessionSelector.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fall</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WinterDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Client_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Client_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true, Status__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Class_Name__c,Class_Info__c,Class_start_date__c,Rider_Name__c,Client_Level__c,Preference__c,Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Class_Name__c:256, Class_Info__c:272, Class_start_date__c:159, Rider_Name__c:272, Client_Level__c:127, Preference__c:128, Status__c:110</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>WinterCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SessionSelector.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Winter</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Clients</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Fall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Spring_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Summer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Winter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>FallCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>SpringCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>SummerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>WinterCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
</Flow>
