force-app/main/default/flows/Class_Registration_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Class_Registration_Declined</name>
        <label>Class Registration Declined</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Client_Class__c.Class_Registration_Declined</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Class_Registration_Enrolled</name>
        <label>Class Registration Enrolled</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>Client_Class__c.Class_Registration_Enrolled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Class_Registration_Waitlist</name>
        <label>Class Registration Waitlist</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Client_Class__c.Class_Registration_Waitlist</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Type_of_Change</name>
        <label>Type of Change</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wait_Listed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait list Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Registration_Waitlist</targetReference>
            </connector>
            <label>Wait Listed</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Registration_Declined</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Registration_Enrolled</targetReference>
            </connector>
            <label>Enrolled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Class Registration Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Class Registration Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateEmail</name>
        <label>UpdateEmail</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Type_of_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Rider_Email__c</field>
            <value>
                <elementReference>$Record.Riders__r.ClientContact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateEmail</targetReference>
        </connector>
        <object>Client_Class__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
