force-app/main/default/flows/Client_Waiver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>UpdateStep</name>
        <label>UpdateStep</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClientID.CompletedForms__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClientRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundWaivers</name>
        <label>FoundWaivers</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Need_Waiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundWaiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Waivers.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Waiver_Notice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Client Waiver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Waiver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Waiver</name>
        <label>Create Waiver</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>UpdateStep</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetWaiverRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Dated__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>Get_Current_Waiver.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Waivers</name>
        <label>Find Waivers</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundWaivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Waiver</name>
        <label>Get Current Waiver</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Waivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiverRecordType</name>
        <label>GetWaiverRecordType</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClientRecord</name>
        <label>UpdateClientRecord</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Waiver__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompletedForms__c</field>
            <value>
                <elementReference>ClientID.CompletedForms__c</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Completed_Waiver_Notice</name>
        <label>Completed Waiver Notice</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed_Waiver_Notice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Completed_Waiver_Notice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Completed_Waiver_Notice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispCompletedWaiver</name>
                    <fieldText>&lt;p&gt;You have completed the waiver for year {!GetCurrentYear.Current_Year__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Completed_Waiver_Notice_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_Waiver</name>
        <label>Need Waiver</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Waiver</targetReference>
        </connector>
        <fields>
            <name>WaiverText</name>
            <fieldText>&lt;p&gt;{!Get_Current_Waiver.Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Need_Waiver_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Need_Waiver_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Need_Waiver_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Need_Waiver_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWaiverRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
