force-app/main/default/flows/client_seizure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignments</name>
        <label>Assignments</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ClientID.CompletedForms__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClientRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_years</name>
        <choiceText>&lt; 5 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>less5</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_years_or_more</name>
        <choiceText>5 years or more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5ormore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>client_seizure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>client_seizure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateClientRecord</name>
        <label>UpdateClientRecord</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletedForms__c</field>
            <value>
                <elementReference>ClientID.CompletedForms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seizure_Form_PL__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seizure_Form__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seizure_Information__c</field>
            <value>
                <elementReference>SeizureInfo</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FileUpload</name>
        <label>FileUpload</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignments</targetReference>
        </connector>
        <fields>
            <name>FileUpload_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileUpload_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Seizure</name>
                    <choiceReferences>X5_years</choiceReferences>
                    <choiceReferences>X5_years_or_more</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Last Seizure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last3</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has the seizure occurred in the last 3 years?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Last_Seizure</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>less5</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FileUpload_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileUpload_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FiveorMoreDisp</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You do not need to fill out a form.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Last_Seizure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>5ormore</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileUpload_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FileText</name>
                    <fieldText>&lt;p&gt;Download the following form, have your doctor fill it out, and then upload it on the right.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wb/j7WzViQCxn1w9XQKKfQXZ9xFgvhygPoCpQB_8wH94yY&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Seizure form&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;If you don&apos;t have the file ready, click on previous to return to the menu&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FileUploadScreen</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ClientID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>overriddenFileName</name>
                        <value>
                            <stringValue>Seizure form</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <stringValue>seizurefile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Last_Seizure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>less5</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Last3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileUpload_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>threetofivedisp</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Type_of_seizure</name>
                    <dataType>String</dataType>
                    <fieldText>Type of seizure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Typical_aura_pre_seizure_sensations_or_behaviors_during_seizure</name>
                    <fieldText>Typical aura/pre-seizure sensations or behaviors during seizure:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Typical_motor_activity_during_seizure</name>
                    <fieldText>Typical motor activity during seizure:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Average_duration_of_seizure</name>
                    <dataType>String</dataType>
                    <fieldText>Average duration of seizure:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_frequency_of_seizures</name>
                    <dataType>String</dataType>
                    <fieldText>Current frequency of seizures:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_last_seizure</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of last seizure:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description_of_behavior_during_the_recovery_state_and_its_duration</name>
                    <fieldText>Description of behavior during the recovery state and its duration:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_to_do_if_seizure_occurs_at_center</name>
                    <fieldText>What to do if seizure occurs at center:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileUpload_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Last_Seizure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>less5</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Last3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>no</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FileUpload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SeizureInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Type of seizure:  &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Type_of_seizure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Typical aura pre seizure sensations or behaviors during seizure:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!Typical_aura_pre_seizure_sensations_or_behaviors_during_seizure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Typical motor activity during seizure:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!Typical_motor_activity_during_seizure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Average duration of seizure:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Average_duration_of_seizure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current frequency of seizures:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Current_frequency_of_seizures}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date of last seizure:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Date_of_last_seizure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description of behavior during the recovery state and its duration:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Description_of_behavior_during_the_recovery_state_and_its_duration}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;What to do if seizure occurs at center:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!What_to_do_if_seizure_occurs_at_center}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
