force-app/main/default/flows/Client_Authorization_for_Emergency_Medical_Treatment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Step</name>
        <label>Update Step</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ClientID.CompletedForms__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Client_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Consent</name>
        <choiceText>Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consent</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>AuthMedRelease</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Auth_for_Emerg_Med_Treatment__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Client Authorization for Emergency Medical Treatment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Authorization for Emergency Medical Treatment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Client_Record</name>
        <label>Update Client Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allergies_to_medications__c</field>
            <value>
                <elementReference>Allergies_to_medications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auth_for_Emerg_Med_Treatment__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auth_for_Emerg_Treatment_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auth_for_Emerg_Treatment_Name__c</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompletedForms__c</field>
            <value>
                <elementReference>ClientID.CompletedForms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_medications__c</field>
            <value>
                <elementReference>Current_medications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Insurance_Co__c</field>
            <value>
                <elementReference>Health_Insurance_Co</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Policy__c</field>
            <value>
                <elementReference>Insurance_Policy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Medical_Facility__c</field>
            <value>
                <elementReference>Preferred_Medical_Facility</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Authorization_for_Emergency_Medical_Treatment</name>
        <label>Authorization for Emergency Medical Treatmentte</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Step</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the event emergency medical aid/treatment is required due to illness or injury during the process of receiving services&lt;/p&gt;&lt;p&gt;or while being on the property of the agency, I authorize &lt;span style=&quot;font-size: 10.5px;&quot;&gt;We Can Ride, Inc. &lt;/span&gt;to:&lt;/p&gt;&lt;p&gt;1. Secure and retain medical treatment and transportation if needed.&lt;/p&gt;&lt;p&gt;2. Release client records upon request to the authorized individual or agency involved in the medical emergency&lt;/p&gt;&lt;p&gt;treatment.&lt;/p&gt;&lt;p&gt;3. To take all other reasonable measures to secure medical aid for the emergency.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Authorization_for_Emergency_Medical_Treatment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Authorization_for_Emergency_Medical_Treatment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Health_Insurance_Co</name>
                    <dataType>String</dataType>
                    <fieldText>Health Insurance Co</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Insurance_Policy</name>
                    <dataType>String</dataType>
                    <fieldText>Insurance Policy #:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Authorization_for_Emergency_Medical_Treatment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preferred_Medical_Facility</name>
                    <dataType>String</dataType>
                    <fieldText>Preferred Medical Facility</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_medications</name>
                    <fieldText>Current medications</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Allergies_to_medications</name>
                    <fieldText>Allergies to medications</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Disclaimer</name>
            <fieldText>&lt;p&gt;I have read, and understand all the material in this document. I hereby consent and agree to the conditions set forth&lt;/p&gt;&lt;p&gt;herein.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Authorization_for_Emergency_Medical_Treatment_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Authorization_for_Emergency_Medical_Treatment_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Authorization_for_Emergency_Medical_Treatment_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Authorization</name>
                    <choiceReferences>Consent</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Authorization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Authorization_for_Emergency_Medical_Treatment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
