force-app/main/default/flows/Client_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NewAppAlert</name>
        <label>NewAppAlert</label>
        <locationX>1638</locationX>
        <locationY>3098</locationY>
        <actionName>Riders__c.New_Application</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateClientCompleted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetExistingClient.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignContact</name>
        <label>AssignContact</label>
        <locationX>1056</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>VarContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClientRecordVarFromExist</name>
        <label>SetClientRecordVarFromExist</label>
        <locationX>1956</locationX>
        <locationY>2053</locationY>
        <assignmentItems>
            <assignToReference>ClientRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExistingClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingClientStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClientRecordVarFromExist_0</name>
        <label>SetClientRecordVarFromExist</label>
        <locationX>2755</locationX>
        <locationY>2451</locationY>
        <assignmentItems>
            <assignToReference>ClientRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Diagnosis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClientRecordVarFromNew</name>
        <label>SetClientRecordVarFromNew</label>
        <locationX>2946</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>ClientRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NeedGuardian</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>father</stringValue>
        </value>
    </choices>
    <choices>
        <name>guardian</name>
        <choiceText>Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ExistingClientStep</name>
        <label>ExistingClientStep</label>
        <locationX>1946</locationX>
        <locationY>2625</locationY>
        <defaultConnector>
            <targetReference>Menu_of_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingClient.New_Client_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Diagnosis</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingClient.New_Client_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Policy</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingClient.New_Client_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>Forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingClient.New_Client_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Menu_of_Forms</targetReference>
            </connector>
            <label>Forms</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_contact</name>
        <label>found contact</label>
        <locationX>1068</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Redirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContact</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>LivesInGroupHome</name>
        <label>LivesInGroupHome</label>
        <locationX>2759</locationX>
        <locationY>1479</locationY>
        <defaultConnector>
            <targetReference>UpdateClientRecord_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGroupHome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupHome.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_to_create_new_GH</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Second_ParentGuardian</name>
        <label>Need Second ParentGuardian</label>
        <locationX>2237</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>UpdateClientRecordParentGuardianInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSecondeParentGuardian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondParentGuardian.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSecondParentGuardian</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_create_new_GH</name>
        <label>Need to create new GH</label>
        <locationX>2239</locationX>
        <locationY>1611</locationY>
        <defaultConnector>
            <targetReference>UpdateClientRecordGH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNewGH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoGroupHome.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateGroupHome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NeedGuardian</name>
        <label>NeedGuardian</label>
        <locationX>2761</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>LivesInGroupHome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNeedGuardian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentGuardian.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateParentGuardian</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WeightLimit</name>
        <label>WeightLimit</label>
        <locationX>2284</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>CreateContactClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>OverWeight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeightN</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>195.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WeightLimitPage</targetReference>
            </connector>
            <label>Over</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_step</name>
        <label>What step</label>
        <locationX>1628</locationX>
        <locationY>2828</locationY>
        <defaultConnector>
            <targetReference>Menu_of_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>AuthForEmergencySelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AuthForEmergencyTreatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Auth_for_Emerg_Med_Treatment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auth_For_Emergency_Treatment</targetReference>
            </connector>
            <label>AuthForEmergency</label>
        </rules>
        <rules>
            <name>Photo_Release_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PhotoRelease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetExistingClient.Photo_Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Photo_Release</targetReference>
            </connector>
            <label>Photo Release</label>
        </rules>
        <rules>
            <name>Client_Waiver_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientWaiver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Client_Waiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Waiver</targetReference>
            </connector>
            <label>Client Waiver</label>
        </rules>
        <rules>
            <name>MedicalHistory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MedicalHistory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Medical_History_Form_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_History</targetReference>
            </connector>
            <label>MedicalHistory</label>
        </rules>
        <rules>
            <name>DownSyndrome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DownSyndrome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Down_Syndrome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Down_Syndrome</targetReference>
            </connector>
            <label>DownSyndrome</label>
        </rules>
        <rules>
            <name>Seizure_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeizureForm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Seizure_Form_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seizure</targetReference>
            </connector>
            <label>Seizure Form</label>
        </rules>
        <rules>
            <name>ScoliosisChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ScoliosisForm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Scoliosis_Form_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scoliosis_Form</targetReference>
            </connector>
            <label>Scoliosis</label>
        </rules>
        <rules>
            <name>Confidentiality_Form_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialtyForms.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ConfidentialityHIPPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.HIPPA_Form_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confidentiality_HIPPA</targetReference>
            </connector>
            <label>Confidentiality &amp; HIPPA Form</label>
        </rules>
        <rules>
            <name>TherapyCancelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialtyForms.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TherapyCancelation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.Hippotherapy_Cancellation_PolicyPL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Therapy_Cancellation_Policy</targetReference>
            </connector>
            <label>TherapyCancelation</label>
        </rules>
        <rules>
            <name>Submit_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialtyForms.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientRecordVar.CompletedForms__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewAppAlert</targetReference>
            </connector>
            <label>Submit Application</label>
        </rules>
    </decisions>
    <description>Added redirect to Exp Cloud Page</description>
    <dynamicChoiceSets>
        <name>AppropriateforChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appropriate_for__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BenchSitUnassistedFor2minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bench_sit_for_2_minutes__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClassType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lesson_Type__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DiagPL</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnoses__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GraspStrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grasp_Strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HorseInputChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Horse_Input__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HorseSizeChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Horse_Size__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Leftarmstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Left_arm_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Leftlegstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Left_leg_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LossofBalanceSuddenMovement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_of_balance_to_sudden_movement__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mobility</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mobility__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OverallEmotionalAffect</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Overall_Emotional_Affect__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Postural_adjustments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Postural_adjustments_with_weight_bearing__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rightarmstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Right_arm_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rightlegstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Right_leg_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Risksthatcompromisesafety</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Excessive_risks_that_compromise_safety__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StrongEmotionalOubursts</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Strong_Emotional_Oubursts__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TackChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tack__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrunkStrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trunk_Strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Weightbearonefoot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Weight_bear_on_one_foot_w_assist__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TwentyOneMonths</name>
        <dataType>Date</dataType>
        <expression>today ()-((365/12) * 21)</expression>
    </formulas>
    <interviewLabel>Client Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Client Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_relationship</name>
        <label>create relationship</label>
        <locationX>2245</locationX>
        <locationY>1134</locationY>
        <connector>
            <targetReference>Need_Second_ParentGuardian</targetReference>
        </connector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>CreateContactClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>CreateParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>Type_of_relationship</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_relationship_SecondParentGuradian</name>
        <label>create relationship</label>
        <locationX>2123</locationX>
        <locationY>1468</locationY>
        <connector>
            <targetReference>UpdateClientRecordParentGuardianInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>CreateContactClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>CreateSecondParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>Type_of_relationship_SecondParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateClientRecord</name>
        <label>CreateClientRecord</label>
        <locationX>2636</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>GetClientContact</targetReference>
        </connector>
        <inputAssignments>
            <field>ClientContact__c</field>
            <value>
                <elementReference>CreateContactClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!First_Name}  {!Last_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>WeightN</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateContactClient</name>
        <label>CreateContactClient</label>
        <locationX>2499</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>CreateClientRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>GenderDisp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>ZIP_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>WeightN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>Workemail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateEmergencyContact</name>
        <label>CreateEmergencyContact</label>
        <locationX>2758</locationX>
        <locationY>2010</locationY>
        <connector>
            <targetReference>EmergencyRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetClientContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Emergency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Phone_emergency.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Emergency</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateGroupHome</name>
        <label>CreateGroupHome</label>
        <locationX>2081</locationX>
        <locationY>1610</locationY>
        <connector>
            <targetReference>UpdateClientRecordNewGH</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>GroupHomeAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>GroupHomeAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>GroupHomeAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>GroupHomeAddress.inputProvinceOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>GroupHomeAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Group_Home_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GroupHomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateParentGuardian</name>
        <label>CreateParentGuardian</label>
        <locationX>2245</locationX>
        <locationY>981</locationY>
        <connector>
            <targetReference>create_relationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetClientContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>Employeer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email_guardian.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Guardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>GuardianPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Guardian</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSecondParentGuardian</name>
        <label>SecondParentGuardian</label>
        <locationX>2128</locationX>
        <locationY>1285</locationY>
        <connector>
            <targetReference>create_relationship_SecondParentGuradian</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetClientContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>EmployeerSecondParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>emailSecondParentGuardian.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_SecondParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>GuardianPhoneSecond.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_NameSecondParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>EmergencyRelationship</name>
        <label>EmergencyRelationship</label>
        <locationX>2756</locationX>
        <locationY>2158</locationY>
        <connector>
            <targetReference>UpdateClientRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>GetClientContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>CreateEmergencyContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <stringValue>Emergency Contact</stringValue>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientContact</name>
        <label>GetClientContact</label>
        <locationX>2774</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClientRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateContactClient</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientRecord</name>
        <label>GetClientRecord</label>
        <locationX>2946</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetClientRecordVarFromNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateClientRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingClient</name>
        <label>GetExistingClient</label>
        <locationX>1056</locationX>
        <locationY>2053</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetClientRecordVarFromExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicy</name>
        <label>GetPolicy</label>
        <locationX>2074</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupHomeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewClientPolicies</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupHomeRecordType</name>
        <label>GroupHomeRecordType</label>
        <locationX>2074</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intial_Scree</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group_Home</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClient3rdPayer</name>
        <label>UpdateClient3rdPayer</label>
        <locationX>1784</locationX>
        <locationY>3333</locationY>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Client_Step__c</field>
            <value>
                <stringValue>forms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signature__c</field>
            <value>
                <elementReference>Parent_Guardian_Name_Sig</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Address__c</field>
            <value>
                <elementReference>ThirdpartyAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Contact_Name__c</field>
            <value>
                <elementReference>ThirdPartyContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_E_mail_Address__c</field>
            <value>
                <elementReference>ThirdPartyemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Payor_Name__c</field>
            <value>
                <elementReference>Third_Party_Payer_Waiver_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Payor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Phone__c</field>
            <value>
                <elementReference>ThirdPartyPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClient3rdPayer_0</name>
        <label>UpdateClient3rdPayer</label>
        <locationX>2755</locationX>
        <locationY>3332</locationY>
        <connector>
            <targetReference>Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Client_Step__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientCompleted</name>
        <label>UpdateClientCompleted</label>
        <locationX>1636</locationX>
        <locationY>3226</locationY>
        <connector>
            <targetReference>All_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExistingClient.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Client_Step__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecord</name>
        <label>UpdateClientRecord</label>
        <locationX>2753</locationX>
        <locationY>2324</locationY>
        <connector>
            <targetReference>SetClientRecordVarFromExist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateClientRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <elementReference>CreateEmergencyContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Client_Step__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecord_0</name>
        <label>UpdateClientRecord</label>
        <locationX>2757</locationX>
        <locationY>1880</locationY>
        <connector>
            <targetReference>CreateEmergencyContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateClientRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Client_Step__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecordGH</name>
        <label>UpdateClientRecordGH</label>
        <locationX>2580</locationX>
        <locationY>1686</locationY>
        <connector>
            <targetReference>UpdateClientRecord_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateClientRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_Home__c</field>
            <value>
                <elementReference>GroupHomeLookUp1.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lives_in_Group_Home__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecordMultiPIcks</name>
        <label>UpdateClientRecordMultiPIcks</label>
        <locationX>2757</locationX>
        <locationY>2842</locationY>
        <connector>
            <targetReference>Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientRecordVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allergies__c</field>
            <value>
                <elementReference>Allergies_long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavior__c</field>
            <value>
                <elementReference>General_Behavior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bench_sit_for_2_minutes__c</field>
            <value>
                <elementReference>Bench_sit_unassisted_for_2_minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Skills__c</field>
            <value>
                <elementReference>Communication_Skills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnoses__c</field>
            <value>
                <elementReference>DiagnosisPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excessive_risks_that_compromise_safety__c</field>
            <value>
                <elementReference>Risks_that_compromise_safety</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goals__c</field>
            <value>
                <elementReference>Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grasp_Strength__c</field>
            <value>
                <elementReference>Grasp_Strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_movement_limitations__c</field>
            <value>
                <elementReference>Head_movement_limitations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interests__c</field>
            <value>
                <elementReference>Interests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left_arm_strength__c</field>
            <value>
                <elementReference>Left_arm_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left_leg_strength__c</field>
            <value>
                <elementReference>Left_leg_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_of_balance_to_sudden_movement__c</field>
            <value>
                <elementReference>Loss_of_balance_to_sudden_movement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobility__c</field>
            <value>
                <elementReference>MobilityPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Client_Step__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_steps_followed_at_a_time__c</field>
            <value>
                <elementReference>Number_of_steps_followed_at_a_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postural_adjustments_with_weight_bearing__c</field>
            <value>
                <elementReference>Postural_adjustments_with_weight_bearing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precautions_Limitations__c</field>
            <value>
                <elementReference>Precautions_Limitations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Riding_Experience__c</field>
            <value>
                <elementReference>Previous_Riding_Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Right_arm_strength__c</field>
            <value>
                <elementReference>Right_arm_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Right_leg_strength__c</field>
            <value>
                <elementReference>Right_leg_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sensory_Needs__c</field>
            <value>
                <elementReference>Sensory_Needs_likes_and_dislikes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strong_Emotional_Oubursts_Desc__c</field>
            <value>
                <elementReference>Strong_Emotional_Oubursts_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strong_Emotional_Oubursts__c</field>
            <value>
                <elementReference>Strong_Emotional_Oubursts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgical_History__c</field>
            <value>
                <elementReference>Previous_Surgeries_Long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trunk_Strength__c</field>
            <value>
                <elementReference>Trunk_Strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Description_of_Seizures__c</field>
            <value>
                <elementReference>Seizures</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vision_Hearing__c</field>
            <value>
                <elementReference>Vision_or_Hearing_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_bear_on_one_foot_w_assist__c</field>
            <value>
                <elementReference>Weight_bear_on_one_foot_w_assist</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecordNewGH</name>
        <label>UpdateClientRecordNewGH</label>
        <locationX>2086</locationX>
        <locationY>1880</locationY>
        <connector>
            <targetReference>UpdateClientRecord_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateClientRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_Home__c</field>
            <value>
                <elementReference>CreateGroupHome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lives_in_Group_Home__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecordParentGuardianInfo</name>
        <label>UpdateClientRecord</label>
        <locationX>2246</locationX>
        <locationY>1467</locationY>
        <connector>
            <targetReference>LivesInGroupHome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateClientRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Father_Name__c</field>
            <value>
                <elementReference>CreateParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_Name__c</field>
            <value>
                <elementReference>CreateSecondParentGuardian</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_completed</name>
        <label>All completed</label>
        <locationX>1633</locationX>
        <locationY>3376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All_completed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>All_completed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompletedMsg</name>
                    <fieldText>&lt;p&gt;Thanks for completing your application, we will get in touch with you shortly for next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Diagnosis</name>
        <label>Diagnosis</label>
        <locationX>2756</locationX>
        <locationY>2619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateClientRecordMultiPIcks</targetReference>
        </connector>
        <fields>
            <name>DisgDisp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Please fill out all of the following questions to the best of your ability. If you don&apos;t know an answer, it can be left unanswered until the screening process with the Program Director&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Diagnosis_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diagnosis_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiagnosisPL</name>
                    <choiceReferences>DiagPL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Diagnosis</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_Surgeries_Long</name>
                    <fieldText>Previous Surgeries</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Allergies_long</name>
                    <fieldText>Allergies</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vision_or_Hearing_Issues</name>
                    <fieldText>Vision or Hearing Issues</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Head_movement_limitations</name>
                    <fieldText>Head movement limitations</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MobilityPL</name>
                    <choiceReferences>Mobility</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mobility</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bench_sit_unassisted_for_2_minutes</name>
                    <choiceReferences>BenchSitUnassistedFor2minutes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bench sit, unassisted, for 2 minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Seizures</name>
                    <fieldText>Seizures</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Loss_of_balance_to_sudden_movement</name>
                    <choiceReferences>LossofBalanceSuddenMovement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loss of balance to sudden movement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postural_adjustments_with_weight_bearing</name>
                    <choiceReferences>Postural_adjustments</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Postural adjustments with weight bearing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Weight_bear_on_one_foot_w_assist</name>
                    <choiceReferences>Weightbearonefoot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Weight bear on one foot w/ assist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Grasp_Strength</name>
                    <choiceReferences>GraspStrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Grasp Strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Right_arm_strength</name>
                    <choiceReferences>Rightarmstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Right arm strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Left_arm_strength</name>
                    <choiceReferences>Leftarmstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Left arm strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Right_leg_strength</name>
                    <choiceReferences>Rightlegstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Right leg strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Left_leg_strength</name>
                    <choiceReferences>Leftlegstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Left leg strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Trunk_Strength</name>
                    <choiceReferences>TrunkStrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Trunk Strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diagnosis_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Precautions_Limitations</name>
                    <fieldText>Precautions/Limitations</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_Skills</name>
                    <fieldText>Communication Skills</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>General_Behavior</name>
                    <fieldText>General Behavior</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Strong_Emotional_Oubursts</name>
                    <choiceReferences>StrongEmotionalOubursts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Strong Emotional Oubursts</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Strong_Emotional_Oubursts_Description</name>
                    <fieldText>Strong Emotional Oubursts Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sensory_Needs_likes_and_dislikes</name>
                    <fieldText>Sensory Needs , likes and dislikes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Interests</name>
                    <fieldText>Interests</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risks_that_compromise_safety</name>
                    <choiceReferences>Risksthatcompromisesafety</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Risks that compromise safety</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Goals</name>
                    <fieldText>Goals</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rider_Dislikes</name>
                    <fieldText>Rider Dislikes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_Riding_Experience</name>
                    <fieldText>Previous Riding Experience</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_of_steps_followed_at_a_time</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of steps followed at a time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Activity_Video</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Activity Video</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>Please upload a video in therapy or activity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CreateClientRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>requiredMessage</name>
                        <value>
                            <stringValue>Please upload a video to continue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <stringValue>DiagnosisFile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intial_Scree</name>
        <label>Intial Scree</label>
        <locationX>2074</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindContact</targetReference>
        </connector>
        <fields>
            <name>Intial_Scree_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intial_Scree_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intial_Scree_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firpagetext</name>
                    <fieldText>&lt;h2&gt;We Can Ride Client Registration&lt;/h2&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Welcome! Please complete the online registration with We Can Ride. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intial_Scree_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Menu_of_Forms</name>
        <label>Menu of Forms</label>
        <locationX>1784</locationX>
        <locationY>2828</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_step</targetReference>
        </connector>
        <fields>
            <name>InfoMenu</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;Current Client: {!ClientRecordVar.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete each section, once you have all the forms completed, click on submit the application&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selector</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Photo Release {!ClientRecordVar.Photo_Release__c} Granted&quot;,&quot;value&quot;:&quot;PhotoRelease&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Emergency Treatment Form {!ClientRecordVar.Auth_for_Emerg_Med_Treatment__c}&quot;,&quot;value&quot;:&quot;AuthForEmergencyTreatment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:1},{&quot;label&quot;:&quot;Client Waiver Form {!ClientRecordVar.Client_Waiver__c}&quot;,&quot;value&quot;:&quot;ClientWaiver&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Medical History {!ClientRecordVar.Medical_History_Form_PL__c}&quot;,&quot;value&quot;:&quot;MedicalHistory&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <stringValue>class=&quot;slds-m-vertical_none&quot;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>moreinfo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Only complete the following forms if diagnosis applies. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;They must be completed by a physician&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Down Syndrome Form {!ClientRecordVar.Down_Syndrome__c}&quot;,&quot;value&quot;:&quot;DownSyndrome&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Seizure Form {!ClientRecordVar.Seizure_Form_PL__c}&quot;,&quot;value&quot;:&quot;SeizureForm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Scoliosis Form {!ClientRecordVar.Scoliosis_Form_PL__c}&quot;,&quot;value&quot;:&quot;ScoliosisForm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HIPPOForms</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Specialty Therapy forms&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialtyForms</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Confidentiality &amp; HIPPA Form {!ClientRecordVar.HIPPA_Form_PL__c}&quot;,&quot;value&quot;:&quot;ConfidentialityHIPPA&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Therapy Cancellation Policy {!ClientRecordVar.Hippotherapy_Cancellation_PolicyPL__c}&quot;,&quot;value&quot;:&quot;TherapyCancelation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Menu_of_Forms_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_of_Forms_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HelpfulDisp</name>
                    <fieldText>&lt;p&gt;These are helpful documents, please download them for your records&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wH/OYajwg8jl_De6DP5nCVqE.hYdJ67sVSGrFLFwblCA1A&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;2023 Payment Policy Notice&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wM/ES8beLVvx56AyjFkT5BJxGyFQwjk3YzItBzT4I1PSDA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;2023 Session Dates&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wR/Td3.xtBEGxZoX5DdJ6q0ktkPVw7JiW4aG6KJ_5mQLso&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Client Handbook&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wI/29FlnpQeRq3Qv6SW2LnjibtttWWTl8R_ENhaC.BMhbQ&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Therapeutic &amp;amp; Hippotherapy Riding Guidelines&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wS/DW0YaldoJgDXjaN3TZy0.kzDuu9x850IcrUoiG1Pz3s&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Weight limit&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Client_Info</name>
        <label>New Client Info</label>
        <locationX>2161</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WeightLimit</targetReference>
        </connector>
        <fields>
            <name>ClientInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Client Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;NOTE: Please complete each page to the extend of possible. You won&apos;t be able to come back and fill missing information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Client_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenderDisp</name>
                    <choiceReferences>Gender</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You have to be at least 26 months of age to participate&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth} &lt;= {!TwentyOneMonths}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Height</name>
                    <dataType>String</dataType>
                    <fieldText>Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WeightN</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dispM1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;______________________________________________________________________________________________&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Client_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Client</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City_Client</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Client_Info_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Client</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ZIP_Client</name>
                    <dataType>String</dataType>
                    <fieldText>ZIP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DispM2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;______________________________________________________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Client_Info_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>emaildisp</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Workemail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Work Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Mobile.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ParentGuardian</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent/Guardian</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>GuardianInfoDisp</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Parent/Guardian Info&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;______________________________________&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParentGuardian.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Client_Info_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Guardian</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>email_guardian</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GuardianPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_Guardian</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Employeer</name>
                    <dataType>String</dataType>
                    <fieldText>Employeer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_of_relationship</name>
                    <choiceReferences>Father</choiceReferences>
                    <choiceReferences>mother</choiceReferences>
                    <choiceReferences>guardian</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParentGuardian.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SecondParentGuardian</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Second Parent/Guardian</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParentGuardian.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Client_Info_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_SecondParentGuardian</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>emailSecondParentGuardian</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GuardianPhoneSecond</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_NameSecondParentGuardian</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EmployeerSecondParentGuardian</name>
                    <dataType>String</dataType>
                    <fieldText>Employeer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_of_relationship_SecondParentGuardian</name>
                    <choiceReferences>Father</choiceReferences>
                    <choiceReferences>mother</choiceReferences>
                    <choiceReferences>guardian</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParentGuardian.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SecondParentGuardian.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GuardianInfoDisp2</name>
            <fieldText>&lt;p&gt;__________________________________________&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GroupHome</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lives in a Group Home</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>GroupHomeInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Group Home&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;_______________________________________&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GroupHome.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Client_Info_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupHomeLookUp1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>RecordTypeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>GroupHomeRecordType.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoGroupHome</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Can&apos;t find my group home</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>-</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GroupHome.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Client_Info_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Group_Home_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Group Home Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GroupHomePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupHomeAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GroupHome.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoGroupHome.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmergencyContactInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Emergency Contact&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;_______________________________________&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Client_Info_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Emergency</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Emergency</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Client_Info_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_emergency</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Phone_emergency.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>2195</locationX>
        <locationY>3333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateClient3rdPayer</targetReference>
        </connector>
        <fields>
            <name>PaaymentDIsp</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Responsibility for Payment. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I hereby acknowledge that I am ultimately responsible for &lt;b&gt;all&lt;/b&gt; charges applied to my account &lt;b&gt;whether or not covered by insurance or waiver&lt;/b&gt;. I further acknowledge that I have read, understand and agreed to the Payment Policy Notice (separate form) as well as all additional policies and procedures regarding class cancellation and payments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payer</name>
                    <dataType>String</dataType>
                    <fieldText>Payer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payer_Billing_Address1</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Street_Client</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>State_Client</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>ZIP_Client</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>City_Client</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PayerPhone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payer_email</name>
                    <dataType>String</dataType>
                    <fieldText>email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Thirdpartypayer</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Third party payer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Payment_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Third_Party_Payer_Waiver_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Third-Party Payer/Waiver Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ThirdPartyPhone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ThirdpartyAddress</name>
                    <fieldText>Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ThirdPartyContact</name>
                    <dataType>String</dataType>
                    <fieldText>Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ThirdPartyemail</name>
                    <dataType>String</dataType>
                    <fieldText>email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Thirdpartypayer.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Parent_Guardian_Name_Sig</name>
            <dataType>String</dataType>
            <fieldText>Signature (Type your name)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Policy</name>
        <label>Policy</label>
        <locationX>2757</locationX>
        <locationY>3108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateClient3rdPayer_0</targetReference>
        </connector>
        <fields>
            <name>Policy_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Policy_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Policy_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispPolicy</name>
                    <fieldText>&lt;p&gt;{!GetPolicy.Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>disclaimer_disp</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 12pt;&quot;&gt;By selecting agreement of any term, using any device; means, or action, you consent to the legally binding terms and conditions of this Agreement. You further agree that your electronic signature on this document is as valid as if you signed the document in writing.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>read_and_understood_the_policy</name>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>agreement</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Policy_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>1083</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayRedirect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please go to &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://wecanride.my.site.com/client/s/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;https://wecanride.my.site.com/client/s/login&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;to register&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WeightLimitPage</name>
        <label>WeightLimit</label>
        <locationX>2298</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateContactClient</targetReference>
        </connector>
        <fields>
            <name>WLDisp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34); font-size: small;&quot;&gt;In keeping with our veterinarian&apos;s recommendations, WCR has weight limits based on height and weight. If the client is over the&amp;nbsp;limit, they may be appropriate for groundwork lessons. Please continue to fill out the paperwork if you are interested in groundwork (working with the horse on the ground). Please reach out to&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:clients@wecanride.org&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204); font-size: small;&quot;&gt;clients@wecanride.org&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34); font-size: small;&quot;&gt;&amp;nbsp;with&amp;nbsp;any questions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1948</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetPolicy</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Auth_For_Emergency_Treatment</name>
        <label>Auth For Emergency Treatment</label>
        <locationX>961</locationX>
        <locationY>2635</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>Client_Authorization_for_Emergency_Medical_Treatment</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Client_Waiver</name>
        <label>Client Waiver</label>
        <locationX>860</locationX>
        <locationY>2635</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>Client_Waiver</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>ConfidentialityForm</description>
        <name>Confidentiality_HIPPA</name>
        <label>Confidentiality &amp; HIPPA</label>
        <locationX>632</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>Confidentiality_HIPPA</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Down_Syndrome</name>
        <label>Down Syndrome</label>
        <locationX>548</locationX>
        <locationY>2638</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>ClientFileUpload_Down</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Medical_History</name>
        <label>Medical History</label>
        <locationX>1067</locationX>
        <locationY>2636</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>Client_Client_Medical_History</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Photo_Release</name>
        <label>Photo Release</label>
        <locationX>749</locationX>
        <locationY>2635</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>Client_Photo_Release</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Scoliosis_Form</name>
        <label>Scoliosis Form</label>
        <locationX>460</locationX>
        <locationY>2638</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>client_file_upload_Scoliosis</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Seizure</name>
        <label>Seizure</label>
        <locationX>1186</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>client_seizure</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Therapy_Cancellation_Policy</name>
        <label>Therapy Cancellation Policy</label>
        <locationX>1307</locationX>
        <locationY>2634</locationY>
        <connector>
            <targetReference>GetExistingClient</targetReference>
        </connector>
        <flowName>Therapy_Cancellation_Policy</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is a new application&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
