force-app/main/default/flows/Complete_Client_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>go_to_client_record</name>
        <label>go to client record</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>getCurrentWaiver.Client__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Client</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Volunteer</name>
        <choiceText>Volunteer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Volunteer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_completed</name>
        <label>Already completed</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Verify_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCompleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentWaiver.Client__r.ClientContact__r.Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentWaiver.Client__r.ClientContact__r.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Needed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>App_Submitted</name>
        <label>App Submitted</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>NotSubmittedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAppSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentWaiver.Application_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Level_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContinue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>App_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_Populated</name>
        <label>Level Populated</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Complete_Level_and_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLevelPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentWaiver.Client__r.Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>go_to_client_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClientType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeofWaiver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Contact</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>VolunteerType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeofWaiver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Contact_Volunteer</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Program</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program_Participation__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Complete Client Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Client Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentWaiver</name>
        <label>getCurrentWaiver</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Contact</name>
        <label>Update Client Contact</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>go_to_client_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentWaiver.Client__r.ClientContact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Contact_Volunteer</name>
        <label>Update Client Contact</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>go_to_client_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentWaiver.Client__r.ClientContact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Record</name>
        <label>Update Client Record</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentWaiver.Client__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>LevelANDSub.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Participation__c</field>
            <value>
                <elementReference>ProgramPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Level__c</field>
            <value>
                <elementReference>LevelANDSub.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <screens>
        <name>Complete_Level_and_Program</name>
        <label>Complete Level and Program</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Client_Record</targetReference>
        </connector>
        <fields>
            <name>LevelMSG</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please complete level and program for {!getCurrentWaiver.Client__r.ClientContact__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LevelANDSub</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>riders__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Level__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sub_Level__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Level</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProgramPL</name>
            <choiceReferences>Program</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Needed</name>
        <label>No Needed</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoNeededMSG</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No action needed, already completed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotSubmittedMsg</name>
        <label>NotSubmittedMsg</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotSubMSG</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Client has not submitted the application&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Request</name>
        <label>Verify Request</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>Verify_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Are you sure to complete the application for {!getCurrentWaiver.Client__r.ClientContact__r.FirstName} ?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Complete</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Continue</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TypeofWaiver</name>
                    <choiceReferences>Client</choiceReferences>
                    <choiceReferences>Volunteer</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Client</defaultSelectedChoiceReference>
                    <fieldText>Is this a :</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentWaiver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
