force-app/main/default/flows/CreateClassTimes2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Decrease_Duration</name>
        <label>Decrease Duration</label>
        <locationX>482</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>FlowDuration</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWeek2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Duration</name>
        <label>Set Loop Duration</label>
        <locationX>290</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>FlowDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ClassInfo.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClassStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ClassInfo.Class_Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateClassTime</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Class_Time_Records</name>
        <label>Check Class Time Records</label>
        <locationX>295</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ClassTimesUnchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svar_ClassInfo.Class_Times_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loop_Duration</targetReference>
            </connector>
            <label>ClassTimesUnchecked</label>
        </rules>
        <rules>
            <name>ClassTimesChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svar_ClassInfo.Class_Times_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutputClassTimesTrue</targetReference>
            </connector>
            <label>ClassTimesChecked</label>
        </rules>
    </decisions>
    <decisions>
        <description>If TestNextWeek is &lt; March then loop again, otherwise exit</description>
        <name>TestNextWeek_Loop</name>
        <label>TestNextWeek Loop</label>
        <locationX>655</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_ClassTime_Box</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Repeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowDuration</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Duration</targetReference>
            </connector>
            <label>Repeat</label>
        </rules>
    </decisions>
    <description>Variable and loop messages removed.  Added logic to check if ClassTime records have already been created (ClassTimes Checkbox).  Removed extra varibles that were not needed. FINAL</description>
    <formulas>
        <description>use to try to add 7 to datetime field</description>
        <name>Formula_TestNextWeek2</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!TestNextWeek2}  + {!Counter}*7)</expression>
    </formulas>
    <interviewLabel>CreateClassTimes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateClassTimes3</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateClassTime</name>
        <label>CreateClassTime</label>
        <locationX>287</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Decrease_Duration</targetReference>
        </connector>
        <inputAssignments>
            <field>Class_Start__c</field>
            <value>
                <elementReference>svar_ClassInfo.Class_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>svar_ClassInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>svar_ClassInfo.Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>svar_ClassInfo.Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Class_Time__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWeek2</name>
        <label>CreateWeek2</label>
        <locationX>653</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>TestNextWeek_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Class_Start__c</field>
            <value>
                <elementReference>Formula_TestNextWeek2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>svar_ClassInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>svar_ClassInfo.Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>svar_ClassInfo.Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Class_Time__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Class</name>
        <label>Find Class</label>
        <locationX>295</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Class_Time_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ClassId</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <outputReference>svar_ClassInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Duration__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Class_Start__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Class_Times_Created__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Check_ClassTime_Box</name>
        <label>Check ClassTime Box</label>
        <locationX>881</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svar_ClassInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Class_Times_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Class__c</object>
    </recordUpdates>
    <screens>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>882</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExitComment</name>
            <fieldText>ClassTime Records have successfully been created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputClassTimesTrue</name>
        <label>OutputClassTimesTrue</label>
        <locationX>42</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClassTimesTrue</name>
            <fieldText>ClassTime Records have already been created.  To re-generate them first delete all existing ClassTime records and then uncheck the &quot;Class Times Created&quot; Checkbox on the Class record.  Or, manually add / edit the existing ClassTime records</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Class</startElementReference>
    <status>Active</status>
    <variables>
        <name>ClassStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop counter to multiple by 7 to keep moving date out 1 week</description>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>svar_ClassInfo.Duration__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>svar_ClassInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>TestClassId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestNextWeek2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>svar_ClassInfo.Class_Start__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ClassId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
