force-app/main/default/flows/Create_Attendance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Attendance_Fields</name>
        <label>Assign New Attendance Fields</label>
        <locationX>482</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>New_Attendance.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingRider2.Riders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Attendance.Class_Time_Rcd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobject_ExistingClassTime.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Collection</name>
        <label>Update the Collection</label>
        <locationX>746</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>collection_NewAttendance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Attendance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Riders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Attendance_Records</name>
        <label>Check Attendance Records</label>
        <locationX>82</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Attendance_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AttendanceCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Riders</targetReference>
            </connector>
            <label>Attendance unchecked</label>
        </rules>
        <rules>
            <name>Attendance_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AttendanceCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutputAttendanceTrue</targetReference>
            </connector>
            <label>Attendance Exists</label>
        </rules>
    </decisions>
    <description>With error handling &amp; removal of loop messaging:  added input variable output message &amp; changed Class_Id variable from input to normal; FINAL</description>
    <interviewLabel>Create Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Attendance</label>
    <loops>
        <description>Loop through the Class Time rcds, then add Rider</description>
        <name>Loop_Through_ClassTimes</name>
        <label>Loop Through ClassTimes</label>
        <locationX>478</locationX>
        <locationY>35</locationY>
        <assignNextValueToReference>sobject_ExistingClassTime</assignNextValueToReference>
        <collectionReference>collection_ClassTimes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Riders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Attendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Riders</name>
        <label>Loop Through Riders</label>
        <locationX>481</locationX>
        <locationY>263</locationY>
        <assignNextValueToReference>ExistingRider2</assignNextValueToReference>
        <collectionReference>collection_Riders2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Attendance_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_ClassTimes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create New Attendance records from ClientClass and ClassTimes Objects</description>
        <name>Create_New_Attendance</name>
        <label>Create New Attendance</label>
        <locationX>739</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Update_Class_Record</targetReference>
        </connector>
        <inputReference>collection_NewAttendance</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Find all Class Time records for the inputted Class_Id</description>
        <name>Find_Class_Times</name>
        <label>Find Class Times</label>
        <locationX>233</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_ClassTimes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <object>Class_Time__c</object>
        <outputReference>collection_ClassTimes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Class__c</queriedFields>
        <queriedFields>Class_Name__c</queriedFields>
        <queriedFields>Class_Start__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Find Riders in Client_Class Object that have ClassID of passed in Class ID</description>
        <name>Find_Riders</name>
        <label>Find Riders</label>
        <locationX>79</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Class_Times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <object>Client_Class__c</object>
        <outputReference>collection_Riders2</outputReference>
        <queriedFields>Riders__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>get fields from passed in Class ID</description>
        <name>rcd_Class</name>
        <label>rcd_Class</label>
        <locationX>85</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Attendance_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <outputAssignments>
            <assignToReference>var_AttendanceCreated</assignToReference>
            <field>Attendance_Records_Created__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ClassTimeMin</assignToReference>
            <field>Class_Duration_min__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ClassStart</assignToReference>
            <field>Class_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Duration</assignToReference>
            <field>Duration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_EnrolledRiders</assignToReference>
            <field>Enrolled_Riders__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Instructor</assignToReference>
            <field>Instructor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Location</assignToReference>
            <field>Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ClassName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Session</assignToReference>
            <field>Session__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Class_Record</name>
        <label>Update Class Record</label>
        <locationX>740</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendance_Records_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Class__c</object>
    </recordUpdates>
    <screens>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>742</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExitFlow</name>
            <fieldText>Attendance Records have been successfully created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_ClassID</name>
        <label>Input_ClassID</label>
        <locationX>89</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>var_ClassID</name>
            <dataType>String</dataType>
            <fieldText>var_ClassID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputAttendanceTrue</name>
        <label>OutputAttendanceTrue</label>
        <locationX>228</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AttendanceTrue</name>
            <fieldText>Attendance Records have already been created.  To re-generate them first delete all existing Attendance records and then uncheck the &quot;Class Times Created&quot; Checkbox on the Class record.  Or, manually add / edit the existing Attendance records.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputTestCheckbox2</name>
        <label>OutputTestCheckbox2</label>
        <locationX>331</locationX>
        <locationY>13</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutputTestCheckbox</name>
            <fieldText>Attendance checkbox:   {!var_AttendanceCreated}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestButton</name>
        <label>TestButton</label>
        <locationX>210</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ButtonTest</name>
            <fieldText>Value for var_Class_Id{!var_Class_Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>rcd_Class</startElementReference>
    <status>Active</status>
    <variables>
        <name>collection_ClassTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Time__c</objectType>
    </variables>
    <variables>
        <name>collection_NewAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>New_Attendance__c</objectType>
    </variables>
    <variables>
        <description>collection of Riders from Client_Class Object</description>
        <name>collection_Riders2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>ExistingRider2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>New_Attendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>New_Attendance__c</objectType>
    </variables>
    <variables>
        <name>sobject_ExistingClassTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Time__c</objectType>
    </variables>
    <variables>
        <name>var_AttendanceCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Class_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClassName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClassStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClassTimeMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Duration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_EnrolledRiders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Instructor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Session</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
