force-app/main/default/flows/New_Client_Menu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>application_notice_client</name>
        <label>application notice client</label>
        <locationX>2014</locationX>
        <locationY>2764</locationY>
        <actionName>Contact.Application_Submitted_client_notice_contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateSubmited</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetUpdatedWaiver.Client__r.ClientContact__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Completed_App</name>
        <label>Completed App</label>
        <locationX>2012</locationX>
        <locationY>2632</locationY>
        <actionName>VolunteerWaiver__c.Returning_Application</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>application_notice_client</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetUpdatedWaiver.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignclient</name>
        <label>assignclient</label>
        <locationX>1792</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>ClientRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Schedule</name>
        <label>Assignment Schedule</label>
        <locationX>220</locationX>
        <locationY>1249</locationY>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Schedule_Completed_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Schedule_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentGroupHome</name>
        <label>AssignmentGroupHome</label>
        <locationX>380</locationX>
        <locationY>1304</locationY>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Group_Home_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentScreening</name>
        <label>AssignmentScreening</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Forms_Completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Screening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignParentGuardian</name>
        <label>AssignParentGuardian</label>
        <locationX>662</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Parent_Guardian_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Forms_Completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWaiverID</name>
        <label>AssignWaiverID</label>
        <locationX>1216</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>VarWaiverID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateWaiver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWaiverID_0</name>
        <label>AssignWaiverID</label>
        <locationX>1440</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarWaiverID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWaiver_NU.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateEmergencyInfo</name>
        <label>UpdateEmergencyInfo</label>
        <locationX>513</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Forms_Completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetUpdatedWaiver.Emergency_Contact_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waiver</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EmergencyContactCompleted</name>
        <label>EmergencyContact</label>
        <locationX>504</locationX>
        <locationY>1705</locationY>
        <defaultConnector>
            <targetReference>GetUpdatedClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Emergency_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Emergency_Contact_Info__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateEmergencyInfo</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundWaiver</name>
        <label>FoundWaiver</label>
        <locationX>1435</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>CreateWaiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWaiver_NU.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWaiverID_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupHomeCompleted</name>
        <label>GroupHome</label>
        <locationX>368</locationX>
        <locationY>1786</locationY>
        <defaultConnector>
            <targetReference>GetUpdatedClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>NotCompletedGroupHome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Group_Home_Info__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignmentGroupHome</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Minimum_forms_completed</name>
        <label>Minimum forms completed</label>
        <locationX>2206</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>MinumForms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMinimum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Forms_Completed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_App</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Guardian</name>
        <label>Parent/Guardian</label>
        <locationX>654</locationX>
        <locationY>1639</locationY>
        <defaultConnector>
            <targetReference>GetUpdatedClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Parent_Guardia_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Parent_Guardian_Info__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignParentGuardian</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_step</name>
        <label>What step</label>
        <locationX>2007</locationX>
        <locationY>2391</locationY>
        <defaultConnector>
            <targetReference>Menu_of_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>ParentGuardianInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainInfo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ParentGuardianInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Guardian_Info</targetReference>
            </connector>
            <label>ParentGuardianInfo</label>
        </rules>
        <rules>
            <name>EmergencyContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainInfo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmergencyContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Contact</targetReference>
            </connector>
            <label>EmergencyContact</label>
        </rules>
        <rules>
            <name>ScreeningQuestions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainInfo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ScreeningQuestions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Screening__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screening</targetReference>
            </connector>
            <label>ScreeningQuestions</label>
        </rules>
        <rules>
            <name>GroupHome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainInfo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GroupHome</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Home_Flow</targetReference>
            </connector>
            <label>GroupHome</label>
        </rules>
        <rules>
            <name>AuthForEmergency_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AuthForEmergencyTreatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Auth_for_Emerg_Med_Treatment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorization_for_Emergency_Medical_Treatment</targetReference>
            </connector>
            <label>AuthForEmergency</label>
        </rules>
        <rules>
            <name>Client_Waiver_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientWaiver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Client_Waiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Waiver_Retirning</targetReference>
            </connector>
            <label>Client Waiver</label>
        </rules>
        <rules>
            <name>Confidentiality_Form_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialtyForms.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ConfidentialityHIPPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Confidentiality_HIPPA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Returnt_Confidentiality_HIPPA</targetReference>
            </connector>
            <label>Confidentiality &amp; HIPPA Form</label>
        </rules>
        <rules>
            <name>DownSyndrome_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DownSyndrome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Down_Syndrome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Down</targetReference>
            </connector>
            <label>DownSyndrome</label>
        </rules>
        <rules>
            <name>Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Payer_Info__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentSubFlow</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
        <rules>
            <name>Photo_Release_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PhotoRelease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Photo_Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Photo_Release_Returning</targetReference>
            </connector>
            <label>Photo Release</label>
        </rules>
        <rules>
            <name>MedicalHistory_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MedicalHistory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Medical_History_Form_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_History_Returning</targetReference>
            </connector>
            <label>MedicalHistory</label>
        </rules>
        <rules>
            <name>Seizure_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeizureForm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Seizure_Form__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seizure_Returning</targetReference>
            </connector>
            <label>Seizure</label>
        </rules>
        <rules>
            <name>Scoliosis_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ScoliosisForm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.ScoliosisForm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scoliosis</targetReference>
            </connector>
            <label>Scoliosis</label>
        </rules>
        <rules>
            <name>TherapyCancelation_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialtyForms.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TherapyCancelation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Hippotherapy_Cancellation_Policy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Therapy_Cancellation_Policy_Returning</targetReference>
            </connector>
            <label>TherapyCancelation</label>
        </rules>
        <rules>
            <name>Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Schedule_Completed_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Selection</targetReference>
            </connector>
            <label>Schedule</label>
        </rules>
        <rules>
            <name>Submit_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpecialtyForms.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Files.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selector2.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MainInfo.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minimum_forms_completed</targetReference>
            </connector>
            <label>Submit Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Client Menu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Client Menu</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateWaiver</name>
        <label>CreateWaiver</label>
        <locationX>1217</locationX>
        <locationY>933</locationY>
        <connector>
            <targetReference>AssignWaiverID</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>GetClient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetWaiverRecordType_NU.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetPolicy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetClient</name>
        <label>GetClient</label>
        <locationX>1349</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiverRecordType_NU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>1538</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>1540</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupHomeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Current Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicy</name>
        <label>GetPolicy</label>
        <locationX>1357</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewClientPolicies</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedClient</name>
        <label>GetUpdatedClient</label>
        <locationX>1430</locationX>
        <locationY>1318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUpdatedWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedWaiver</name>
        <label>GetUpdatedWaiver</label>
        <locationX>1620</locationX>
        <locationY>1361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignclient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiver_NU</name>
        <label>GetWaiverNU</label>
        <locationX>1354</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWaiverRecordType_NU.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiverRecordType_NU</name>
        <label>GetWaiverRecordTypeNU</label>
        <locationX>1536</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiver_NU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupHomeRecordType</name>
        <label>GroupHomeRecordType</label>
        <locationX>1354</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group_Home</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Waiver</name>
        <label>Update Waiver</label>
        <locationX>667</locationX>
        <locationY>1304</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <inputReference>GetUpdatedWaiver</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSubmited</name>
        <label>UpdateSubmited</label>
        <locationX>2016</locationX>
        <locationY>2911</locationY>
        <connector>
            <targetReference>All_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUpdatedWaiver.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Submitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_completed</name>
        <label>All completed</label>
        <locationX>2012</locationX>
        <locationY>3058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All_completed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>All_completed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompletedMsg</name>
                    <fieldText>&lt;p&gt;Thanks for completing your application, we will get in touch with you shortly for next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Menu_of_Forms</name>
        <label>Menu of Forms</label>
        <locationX>2013</locationX>
        <locationY>1360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_step</targetReference>
        </connector>
        <fields>
            <name>DispAppStatus</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(29, 169, 0);&quot;&gt;Your application has been submitted &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetUpdatedWaiver.Application_Submitted__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InfoMenu</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;Current Client: {!ClientRecordVar.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please complete each section, once you have all the forms completed, click on submit the application&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainInfo</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Parent Guardian Info - {!GetUpdatedWaiver.Parent_Guardian_Info__c}&quot;,&quot;value&quot;:&quot;ParentGuardianInfo&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Emergency Contact -  {!GetUpdatedWaiver.Emergency_Contact_Info__c}&quot;,&quot;value&quot;:&quot;EmergencyContact&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Screening Questions - {!GetUpdatedWaiver.Screening__c}&quot;,&quot;value&quot;:&quot;ScreeningQuestions&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Group Home - {!GetUpdatedWaiver.Group_Home_Info__c}&quot;,&quot;value&quot;:&quot;GroupHome&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Selector</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Photo Release - {!GetUpdatedWaiver.Photo_Release__c} &quot;,&quot;value&quot;:&quot;PhotoRelease&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Emergency Treatment Form - {!GetUpdatedWaiver.Auth_for_Emerg_Med_Treatment__c}&quot;,&quot;value&quot;:&quot;AuthForEmergencyTreatment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:1},{&quot;label&quot;:&quot;Client Waiver Form - {!GetUpdatedWaiver.Client_Waiver__c}&quot;,&quot;value&quot;:&quot;ClientWaiver&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Medical History - {!GetUpdatedWaiver.Medical_History_Form_PL__c}&quot;,&quot;value&quot;:&quot;MedicalHistory&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Selector2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Payment Info - {!GetUpdatedWaiver.Payer_Info__c}&quot;,&quot;value&quot;:&quot;Payment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>moreinfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;﻿Only complete the following forms if diagnosis applies. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;They must be completed by a physician&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Files</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Down Syndrome Form - {!GetUpdatedWaiver.Down_Syndrome__c}&quot;,&quot;value&quot;:&quot;DownSyndrome&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Seizure Form - {!GetUpdatedWaiver.Seizure_Form__c}&quot;,&quot;value&quot;:&quot;SeizureForm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Scoliosis Form - {!GetUpdatedWaiver.ScoliosisForm__c}&quot;,&quot;value&quot;:&quot;ScoliosisForm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HIPPOForms</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Specialty Therapy forms&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SpecialtyForms</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Confidentiality &amp; HIPPA Form - {!GetUpdatedWaiver.Confidentiality_HIPPA__c}&quot;,&quot;value&quot;:&quot;ConfidentialityHIPPA&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Therapy Cancellation Policy - {!GetUpdatedWaiver.Hippotherapy_Cancellation_Policy__c}&quot;,&quot;value&quot;:&quot;TherapyCancelation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetClient.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Menu_of_Forms_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_of_Forms_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HelpfulDisp</name>
                    <fieldText>&lt;p&gt;These are helpful documents, please download them for your records&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001Z6Zy/fcQO97SCBvrNeScc_aGwug0T0WIlm0mi88o60LM._hM&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Returning Client Registration&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wH/OYajwg8jl_De6DP5nCVqE.hYdJ67sVSGrFLFwblCA1A&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Payment Policy Notice&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wM/ES8beLVvx56AyjFkT5BJxGyFQwjk3YzItBzT4I1PSDA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Session Dates&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wR/Td3.xtBEGxZoX5DdJ6q0ktkPVw7JiW4aG6KJ_5mQLso&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Client Handbook&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wI/29FlnpQeRq3Qv6SW2LnjibtttWWTl8R_ENhaC.BMhbQ&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Therapeutic &amp;amp; Hippotherapy Riding Guidelines&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wS/DW0YaldoJgDXjaN3TZy0.kzDuu9x850IcrUoiG1Pz3s&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Weight limit&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetClient.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MinumForms</name>
        <label>MinumForms</label>
        <locationX>2211</locationX>
        <locationY>1360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
        <fields>
            <name>MinumForms_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MinumForms_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MinumForms_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MinimumForms</name>
                    <fieldText>&lt;p&gt;You still need forms to complete before you can submit&lt;/p&gt;&lt;p&gt;The Minimum forms are:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Parent Guardian&lt;/li&gt;&lt;li&gt;Emergency Contact&lt;/li&gt;&lt;li&gt;Screening Questions&lt;/li&gt;&lt;li&gt;Photo Release&lt;/li&gt;&lt;li&gt;Emergency Treatment&lt;/li&gt;&lt;li&gt;Client Waiver&lt;/li&gt;&lt;li&gt;Medical History&lt;/li&gt;&lt;li&gt;Payment Info&lt;/li&gt;&lt;li&gt;Desired Schedule&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MinumForms_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1313</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetPolicy</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Authorization_for_Emergency_Medical_Treatment</name>
        <label>Authorization for Emergency Medical Treatment</label>
        <locationX>1313</locationX>
        <locationY>2281</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Authorization_Emergency_Medical_Treatment</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Client_Waiver_Retirning</name>
        <label>Client Waiver</label>
        <locationX>1206</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Client_Waiver</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Down</name>
        <label>Down</label>
        <locationX>893</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Down_Syndrome</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Emergency_Contact</name>
        <label>Emergency Contact</label>
        <locationX>507</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>EmergencyContactCompleted</targetReference>
        </connector>
        <flowName>Returning_Emergency</flowName>
        <inputAssignments>
            <name>VarContactID</name>
            <value>
                <elementReference>GetUpdatedClient.ClientContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFinish</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Group_Home_Flow</name>
        <label>Group Home</label>
        <locationX>376</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>GroupHomeCompleted</targetReference>
        </connector>
        <flowName>Returning_GroupHome</flowName>
        <inputAssignments>
            <name>VarContactID</name>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Medical_History_Returning</name>
        <label>Medical History</label>
        <locationX>1421</locationX>
        <locationY>2281</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Client_Client_Medical_History</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Parent_Guardian_Info</name>
        <label>Parent Guardian Info</label>
        <locationX>667</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Parent_Guardian</targetReference>
        </connector>
        <flowName>Returning_Parent_Guardian</flowName>
        <inputAssignments>
            <name>VarContactID</name>
            <value>
                <elementReference>GetUpdatedClient.ClientContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFinish</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PaymentSubFlow</name>
        <label>Payment</label>
        <locationX>1791</locationX>
        <locationY>2089</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Payment</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Photo_Release_Returning</name>
        <label>Photo Release</label>
        <locationX>1106</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Photo_Release</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Returnt_Confidentiality_HIPPA</name>
        <label>Confidentiality &amp; HIPPA</label>
        <locationX>995</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Confidentiality_HIPPA</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Call flow that allows people to select schedule</description>
        <name>Schedule_Selection</name>
        <label>Schedule Selection</label>
        <locationX>220</locationX>
        <locationY>2276</locationY>
        <connector>
            <targetReference>Assignment_Schedule</targetReference>
        </connector>
        <flowName>Returning_Schedule_Selection</flowName>
        <inputAssignments>
            <name>varContactId</name>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varShowContinue</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Scoliosis</name>
        <label>Scoliosis</label>
        <locationX>804</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_File_Upload_Scoliosis</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Screening</name>
        <label>Screening</label>
        <locationX>50</locationX>
        <locationY>2275</locationY>
        <connector>
            <targetReference>AssignmentScreening</targetReference>
        </connector>
        <flowName>New_Client_Diagnosis</flowName>
        <inputAssignments>
            <name>VarContactID</name>
            <value>
                <elementReference>GetUpdatedClient.ClientContact__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Seizure_Returning</name>
        <label>Seizure</label>
        <locationX>1560</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Seizure_Form</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Therapy_Cancellation_Policy_Returning</name>
        <label>Therapy Cancellation Policy</label>
        <locationX>1713</locationX>
        <locationY>2190</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Therapy_Cancellation_Policy</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is a new application&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
