force-app/main/default/flows/New_Client_Diagnosis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>father</stringValue>
        </value>
    </choices>
    <choices>
        <name>guardian</name>
        <choiceText>Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>AppropriateforChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appropriate_for__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BenchSitUnassistedFor2minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bench_sit_for_2_minutes__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClassType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lesson_Type__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DiagPL</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Diagnoses__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GraspStrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grasp_Strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HorseInputChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Horse_Input__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HorseSizeChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Horse_Size__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Leftarmstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Left_arm_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Leftlegstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Left_leg_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LossofBalanceSuddenMovement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_of_balance_to_sudden_movement__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mobility</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mobility__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OverallEmotionalAffect</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Overall_Emotional_Affect__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Postural_adjustments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Postural_adjustments_with_weight_bearing__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rightarmstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Right_arm_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rightlegstrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Right_leg_strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Risksthatcompromisesafety</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Excessive_risks_that_compromise_safety__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StrongEmotionalOubursts</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Strong_Emotional_Oubursts__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TackChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tack__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrunkStrength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trunk_Strength__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Weightbearonefoot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Weight_bear_on_one_foot_w_assist__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TwentyOneMonths</name>
        <dataType>Date</dataType>
        <expression>today ()-((365/12) * 21)</expression>
    </formulas>
    <interviewLabel>New Client - Diagnosis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Client - Screening</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetClient</name>
        <label>GetClient</label>
        <locationX>2918</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>2918</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>2919</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Diagnosis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWaiverRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiverRecordType</name>
        <label>GetWaiverRecordType</label>
        <locationX>2918</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWaiver</name>
        <label>UpdateWaiver</label>
        <locationX>2914</locationX>
        <locationY>1012</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWaiver.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allergies__c</field>
            <value>
                <elementReference>Allergies_long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavior__c</field>
            <value>
                <elementReference>General_Behavior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bench_sit_for_2_minutes__c</field>
            <value>
                <elementReference>BenchSitUnassistedFor2minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Skills__c</field>
            <value>
                <elementReference>Communication_Skills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnoses__c</field>
            <value>
                <elementReference>DiagnosisPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excessive_risks_that_compromise_safety__c</field>
            <value>
                <elementReference>Risks_that_compromise_safety</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grasp_Strength__c</field>
            <value>
                <elementReference>Grasp_Strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_movement_limitations__c</field>
            <value>
                <elementReference>Head_movement_limitations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interests__c</field>
            <value>
                <elementReference>Interests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left_arm_strength__c</field>
            <value>
                <elementReference>Left_arm_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left_leg_strength__c</field>
            <value>
                <elementReference>Left_leg_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_of_balance_to_sudden_movement__c</field>
            <value>
                <elementReference>Loss_of_balance_to_sudden_movement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobility__c</field>
            <value>
                <elementReference>Mobility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_steps_followed_at_a_time__c</field>
            <value>
                <elementReference>Number_of_steps_followed_at_a_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postural_adjustments_with_weight_bearing__c</field>
            <value>
                <elementReference>Postural_adjustments_with_weight_bearing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precautions_Limitations__c</field>
            <value>
                <elementReference>Precautions_Limitations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Riding_Experience__c</field>
            <value>
                <elementReference>Previous_Riding_Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Riding_Goals__c</field>
            <value>
                <elementReference>Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Right_arm_strength__c</field>
            <value>
                <elementReference>Right_arm_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Right_leg_strength__c</field>
            <value>
                <elementReference>Right_leg_strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screening__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sensory_Needs__c</field>
            <value>
                <elementReference>Sensory_Needs_likes_and_dislikes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strong_Emotional_Oubursts_Desc__c</field>
            <value>
                <elementReference>Strong_Emotional_Oubursts_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strong_Emotional_Oubursts__c</field>
            <value>
                <elementReference>StrongEmotionalOubursts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgical_History__c</field>
            <value>
                <elementReference>Previous_Surgeries_Long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trunk_Strength__c</field>
            <value>
                <elementReference>Trunk_Strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Description_of_Seizures__c</field>
            <value>
                <elementReference>Seizures</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vision_Hearing__c</field>
            <value>
                <elementReference>Vision_or_Hearing_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_bear_on_one_foot_w_assist__c</field>
            <value>
                <elementReference>Weight_bear_on_one_foot_w_assist</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Diagnosis</name>
        <label>Diagnosis</label>
        <locationX>2919</locationX>
        <locationY>850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateWaiver</targetReference>
        </connector>
        <fields>
            <name>DisgDisp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Please fill out all of the following questions to the best of your ability. If you don&apos;t know an answer, it can be left unanswered until the screening process with the Program Director&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Diagnosis_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diagnosis_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiagnosisPL</name>
                    <choiceReferences>DiagPL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Diagnosis</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_Surgeries_Long</name>
                    <fieldText>Previous Surgeries</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Allergies_long</name>
                    <fieldText>Allergies</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vision_or_Hearing_Issues</name>
                    <fieldText>Vision or Hearing Issues</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Head_movement_limitations</name>
                    <fieldText>Head movement limitations</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MobilityPL</name>
                    <choiceReferences>Mobility</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mobility</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bench_sit_unassisted_for_2_minutes</name>
                    <choiceReferences>BenchSitUnassistedFor2minutes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bench sit, unassisted, for 2 minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Seizures</name>
                    <fieldText>Seizures</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Loss_of_balance_to_sudden_movement</name>
                    <choiceReferences>LossofBalanceSuddenMovement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loss of balance to sudden movement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postural_adjustments_with_weight_bearing</name>
                    <choiceReferences>Postural_adjustments</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Postural adjustments with weight bearing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Weight_bear_on_one_foot_w_assist</name>
                    <choiceReferences>Weightbearonefoot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Weight bear on one foot w/ assist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Grasp_Strength</name>
                    <choiceReferences>GraspStrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Grasp Strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Right_arm_strength</name>
                    <choiceReferences>Rightarmstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Right arm strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Left_arm_strength</name>
                    <choiceReferences>Leftarmstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Left arm strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Right_leg_strength</name>
                    <choiceReferences>Rightlegstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Right leg strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Left_leg_strength</name>
                    <choiceReferences>Leftlegstrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Left leg strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Trunk_Strength</name>
                    <choiceReferences>TrunkStrength</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Trunk Strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diagnosis_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Precautions_Limitations</name>
                    <fieldText>Precautions/Limitations</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_Skills</name>
                    <fieldText>Communication Skills</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>General_Behavior</name>
                    <fieldText>General Behavior</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Strong_Emotional_Oubursts</name>
                    <choiceReferences>StrongEmotionalOubursts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Strong Emotional Oubursts</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Strong_Emotional_Oubursts_Description</name>
                    <fieldText>Strong Emotional Oubursts Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sensory_Needs_likes_and_dislikes</name>
                    <fieldText>Sensory Needs , likes and dislikes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Interests</name>
                    <fieldText>Interests</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risks_that_compromise_safety</name>
                    <choiceReferences>Risksthatcompromisesafety</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Risks that compromise safety</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Goals</name>
                    <fieldText>Goals</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rider_Dislikes</name>
                    <fieldText>Rider Dislikes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_Riding_Experience</name>
                    <fieldText>Previous Riding Experience</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_of_steps_followed_at_a_time</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of steps followed at a time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Activity_Video</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Activity Video</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>helpText</name>
                        <value>
                            <stringValue>Please upload a video in therapy or activity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetWaiver.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>requiredMessage</name>
                        <value>
                            <stringValue>Please upload a video to continue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <stringValue>DiagnosisFile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2792</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>GetWaiverRecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is a new application&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
