force-app/main/default/flows/NewContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>go_to_record</name>
        <label>go to record</label>
        <locationX>1691</locationX>
        <locationY>2071</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Contact_NU</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>clientAssignment</name>
        <label>clientAssignment</label>
        <locationX>1411</locationX>
        <locationY>1195</locationY>
        <assignmentItems>
            <assignToReference>varClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVolunteer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_NU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>volunteerAssignment</name>
        <label>volunteerAssignment</label>
        <locationX>1916</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>varClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVolunteer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_NU</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Client_therapeutic</name>
        <choiceText>Client (therapeutic)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>client</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommunityText</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>community</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewContact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>newcontact</stringValue>
        </value>
    </choices>
    <choices>
        <name>VolunteerText</name>
        <choiceText>Volunteer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>volunteer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ParticipantType</name>
        <label>ParticipantType</label>
        <locationX>1683</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>clientAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantTypePL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clientAssignment</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantTypePL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>volunteer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>volunteerAssignment</targetReference>
            </connector>
            <label>volunteer</label>
        </rules>
        <rules>
            <name>community</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantTypePL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>volunteerAssignment</targetReference>
            </connector>
            <label>community</label>
        </rules>
    </decisions>
    <decisions>
        <name>weight_limit</name>
        <label>weight limit</label>
        <locationX>1675</locationX>
        <locationY>1576</locationY>
        <defaultConnector>
            <targetReference>create_client_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>under</defaultConnectorLabel>
        <rules>
            <name>over</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Weight_NU</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>195.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Over_weight_limit</targetReference>
            </connector>
            <label>over</label>
        </rules>
    </decisions>
    <description>Create a new contact on existing account</description>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NewContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_client_record</name>
        <label>create client record</label>
        <locationX>1691</locationX>
        <locationY>1868</locationY>
        <connector>
            <targetReference>go_to_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ClientContact__c</field>
            <value>
                <elementReference>Create_Contact_NU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!First_Name_NU} {!Last_Name_NU}</stringValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_NU</name>
        <label>Create Contact</label>
        <locationX>1685</locationX>
        <locationY>1434</locationY>
        <connector>
            <targetReference>weight_limit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_current_contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth_NU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailNU.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_NU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender_NU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height_NU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_NU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone_NU.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect__c</field>
            <value>
                <elementReference>varClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>varVolunteer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Weight_NU</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_current_contact</name>
        <label>get current contact</label>
        <locationX>1687</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_User_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentUser.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentUser</name>
        <label>getCurrentUser</label>
        <locationX>1689</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_current_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1341</locationX>
        <locationY>1589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispError</name>
                    <fieldText>&lt;p&gt;We encounter this error {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Please click next to try again&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_User_Info</name>
        <label>New User Info</label>
        <locationX>1690</locationX>
        <locationY>887</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ParticipantType</targetReference>
        </connector>
        <fields>
            <name>DispMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;After completing this form, you will get an email to finish creating an account in our system. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You must set a password and then log in to continue with your application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_User_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_User_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_NU</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_NU</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmailNU</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gender_NU</name>
                    <choiceReferences>Gender</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Birth_NU</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Height_NU</name>
                    <dataType>String</dataType>
                    <fieldText>Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Weight_NU</name>
                    <dataType>Number</dataType>
                    <fieldText>Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_Info_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_User_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_User_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ParticipantTypePL</name>
                    <choiceReferences>Client_therapeutic</choiceReferences>
                    <choiceReferences>CommunityText</choiceReferences>
                    <choiceReferences>VolunteerText</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Participant Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_Info_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MobilePhone_NU</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_Info_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Over_weight_limit</name>
        <label>Over weight limit</label>
        <locationX>1884</locationX>
        <locationY>1581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_client_record</targetReference>
        </connector>
        <fields>
            <name>disp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34); font-size: small;&quot;&gt;In keeping with our veterinarian&apos;s recommendations, WCR has weight limits based on height and weight. If the client is over the&amp;nbsp;limit, they may be appropriate for groundwork lessons. Please continue to fill out the paperwork if you are interested in groundwork (working with the horse on the ground). Please reach out to&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:clients@wecanride.org&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204); font-size: small;&quot;&gt;clients@wecanride.org&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34); font-size: small;&quot;&gt;&amp;nbsp;with&amp;nbsp;any questions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1563</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>getCurrentUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVolunteer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
