force-app/main/default/flows/Returning_Emergency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>father</stringValue>
        </value>
    </choices>
    <choices>
        <name>guardian</name>
        <choiceText>Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact_Choice</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>1557</locationX>
        <locationY>967</locationY>
        <defaultConnector>
            <targetReference>Type_Of_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAddContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Emergency_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finish_Flow</name>
        <label>Finish Flow</label>
        <locationX>708</locationX>
        <locationY>1566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFinish</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact</name>
        <label>New Contact?</label>
        <locationX>1274</locationX>
        <locationY>859</locationY>
        <defaultConnector>
            <targetReference>Edit_Emergency_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNewContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddContactButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>RemoveContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditContactButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RemoveContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Of_Contact</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Contact</name>
        <label>Type Of Contact</label>
        <locationX>1037</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>UpdateClient_Remove_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>Volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVolInfo_Remove_Contact</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Contact_0</name>
        <label>Type Of Contact</label>
        <locationX>1558</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>UpdateClient_Remove_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>Volunteer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEmergencyContact</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Contact_0_0</name>
        <label>Type Of Contact</label>
        <locationX>1856</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>UpdateClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>Volunteer_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVolInfo</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <description>existing contact changes</description>
    <dynamicChoiceSets>
        <name>ExistingContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TwentyOneMonths</name>
        <dataType>Date</dataType>
        <expression>today ()-((365/12) * 21)</expression>
    </formulas>
    <interviewLabel>Returning - Emergency {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Returning - Emergency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEmergencyContact</name>
        <label>CreateEmergencyContact</label>
        <locationX>1865</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Type_Of_Contact_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailEmergency_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Emergency_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Emergency_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_emergency_new.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Vol_Info</name>
        <label>Get Vol Info</label>
        <locationX>857</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClientRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientRecord</name>
        <label>GetClientRecord</label>
        <locationX>1061</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmergencyContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>699</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vol_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmergencyContact</name>
        <label>GetEmergencyContact</label>
        <locationX>1282</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Emergency_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vol_Info.Emergency_Contact_LU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClient</name>
        <label>UpdateClient</label>
        <locationX>1776</locationX>
        <locationY>1573</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <elementReference>CreateEmergencyContact</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClient_Remove_Contact</name>
        <label>UpdateClient Remove Contact</label>
        <locationX>857</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClient_Remove_Contact_0</name>
        <label>UpdateClient Remove Contact</label>
        <locationX>1483</locationX>
        <locationY>1438</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEmergency</name>
        <label>UpdateEmergency</label>
        <locationX>1282</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEmergencyContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailEmergency.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Emergency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Emergency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_emergency.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEmergencyContact</name>
        <label>UpdateEmergencyContact</label>
        <locationX>1644</locationX>
        <locationY>1436</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vol_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact_LU__c</field>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVolInfo</name>
        <label>UpdateVolInfo</label>
        <locationX>1951</locationX>
        <locationY>1573</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vol_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact_LU__c</field>
            <value>
                <elementReference>CreateEmergencyContact</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVolInfo_Remove_Contact</name>
        <label>UpdateVolInfo Remove Contact</label>
        <locationX>984</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vol_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact_LU__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Volunteer_Info__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Edit_Emergency_Info</name>
        <label>Edit Emergency Info</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateEmergency</targetReference>
        </connector>
        <fields>
            <name>Edit_Emergency_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Emergency_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Emergency</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetEmergencyContact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Emergency</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetEmergencyContact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Emergency_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_emergency</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetEmergencyContact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^[\d]{10,15}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EmailEmergency</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetEmergencyContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Contact</name>
        <label>Existing Contact</label>
        <locationX>1282</locationX>
        <locationY>715</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Contact</targetReference>
        </connector>
        <fields>
            <name>Existing_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispContact</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Name:&lt;/strong&gt; {!GetEmergencyContact.FirstName} {!GetEmergencyContact.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!GetEmergencyContact.Email}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone: &lt;/strong&gt;{!GetEmergencyContact.MobilePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EditContactButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Remove Contact&quot;,&quot;value&quot;:&quot;RemoveContact&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>GetEmergencyContact.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispNoContact</name>
                    <fieldText>&lt;p&gt;No Contact Selected&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AddContactButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add Contact&quot;,&quot;value&quot;:&quot;AddContact&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>GetEmergencyContact.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Emergency_Info</name>
        <label>New Emergency Info</label>
        <locationX>1866</locationX>
        <locationY>1048</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateEmergencyContact</targetReference>
        </connector>
        <fields>
            <name>DispNewContact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Information for new Emergency Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Emergency_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Emergency_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Emergency_New</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Emergency_New</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Emergency_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_emergency_new</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^[\d]{10,15}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EmailEmergency_new</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Contacts</name>
        <label>Show Contacts</label>
        <locationX>1866</locationX>
        <locationY>862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Contact</targetReference>
        </connector>
        <fields>
            <name>Show_Contacts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Contacts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Contacts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact</name>
                    <choiceReferences>ExistingContacts</choiceReferences>
                    <choiceReferences>New_Contact_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Contact From Your Household</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Contacts_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFinish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
