force-app/main/default/flows/ReturningVol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Volunteer_Information_has_Changed</name>
        <label>Volunteer Information has Changed</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VolChangeemailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetVolUpdateemail.email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Volunteer Information has Changed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignUpdateContact</name>
        <label>UpdateContact</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>FindContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactemail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.Employer_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.Employer_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.Employee_Giving_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Giving_Program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.Professional_Expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Professional_Expertise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.SMS_Ok__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Willing_to_receive_txt_messages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindContact.WillingDonate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>willing_to_donate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdateVolInfo</name>
        <label>UpdateVolInfo</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetVolInfo.Emergency_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetVolInfo.Emergency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetVolInfo.Emergency_Contact_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyRelation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetVolInfo.Day_s_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetVolInfo.Available_Times__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_times</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdateContact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckforVolInfoRecord</name>
        <label>CheckforVolInfoRecord</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CreateVolinfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need Vol Info Record</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVolInfo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Info</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundWaivers</name>
        <label>FoundWaivers</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Need_New_Waiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundWaiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindWaivers.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FoundWaiver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableDays</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_s_Available__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailableTImesField</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Available_Times__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Relationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ReturningVol {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ReturningVol</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateVolinfo</name>
        <label>CreateVolinfo</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetVolInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FindContact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer_Name__c</field>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateWaiver</name>
        <label>CreateWaiver</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>UpdateVolInfoAfterWaiver</targetReference>
        </connector>
        <inputAssignments>
            <field>Barn_Aide__c</field>
            <value>
                <elementReference>Barn_Aide</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Barn_Maintenance__c</field>
            <value>
                <elementReference>Barn_Maintenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feeder__c</field>
            <value>
                <elementReference>Feeder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handbook_Acknowledgement_Date__c</field>
            <value>
                <elementReference>DateHandbook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handbook_Acknowledgement__c</field>
            <value>
                <elementReference>ReceivedHandbook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_at_Events__c</field>
            <value>
                <elementReference>Help_at_Events</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_in_Office__c</field>
            <value>
                <elementReference>Help_in_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_on_Event_Committees__c</field>
            <value>
                <elementReference>Help_on_Event_Committees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leader__c</field>
            <value>
                <elementReference>Leader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Release__c</field>
            <value>
                <elementReference>Agree_to_medical_release</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Release_Date__c</field>
            <value>
                <elementReference>DatePhoto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Release__c</field>
            <value>
                <elementReference>Photo_Release_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sidewalker__c</field>
            <value>
                <elementReference>Sidewalker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Dated__c</field>
            <value>
                <elementReference>SIgnedWaiverDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>Signed_Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teaching_Assistant__c</field>
            <value>
                <elementReference>Teaching_Assistant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>GetVolInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetCurrentWaiver.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVolUpdateemail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindWaivers</name>
        <label>FindWaivers</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundWaivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVolInfo.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentWaiver</name>
        <label>GetCurrentWaiver</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindWaivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LiabilityWaiver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVolInfo</name>
        <label>GetVolInfo</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckforVolInfoRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVolUpdateemail</name>
        <label>GetVolUpdateemail</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVolInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>flow_alerts_vol_change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>We_Can_Ride_Constants__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>UpdateVolInfo</targetReference>
        </connector>
        <inputReference>FindContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVolInfo</name>
        <label>UpdateVolInfo</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Volunteer_Information_has_Changed</targetReference>
        </connector>
        <inputReference>GetVolInfo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVolInfoAfterWaiver</name>
        <label>UpdateVolInfo</label>
        <locationX>314</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVolInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Contact_Number__c</field>
            <value>
                <elementReference>EmergencyContact_waiverDisp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <elementReference>EmergencyContactPhoneWaiverDisp</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Info__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>314</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finish_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finish_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispFinish</name>
                    <fieldText>&lt;p&gt;Thank you for completing your registration.&lt;/p&gt;&lt;p&gt;You can close the browser now.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finish_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FoundWaiver</name>
        <label>FoundWaiver</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FoundInfoDisp</name>
            <fieldText>&lt;p&gt;We found your waiver for year {!GetCurrentWaiver.Year__c}&lt;/p&gt;&lt;p&gt;No further action is needed.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Info</name>
        <label>General Info</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignUpdateVolInfo</targetReference>
        </connector>
        <fields>
            <name>General_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisPersonalInfo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Personal Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>VolName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>FindContact.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>FindContact.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>contactemail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>FindContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FindContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>VolAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>FindContact.MailingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>FindContact.MailingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <elementReference>FindContact.MailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>FindContact.MailingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>FindContact.MailingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DispEmploymentInformation</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Employment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FindContact.Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CompanyAddress</name>
                    <defaultValue>
                        <stringValue>{!FindContact.Employer_Address__c}</stringValue>
                    </defaultValue>
                    <fieldText>Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CompanyPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FindContact.Employer_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Employee_Giving_Program</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>FindContact.Employee_Giving_Program__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Giving Program</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Professional_Expertise</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FindContact.Professional_Expertise__c</elementReference>
                    </defaultValue>
                    <fieldText>Professional Expertise</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispEmergencyINfo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Emergency Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Emergency_Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Emergency_Contact_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Emergency Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Emergency_Contact_Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Emergency_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Emergency Contact Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EmergencyRelation</name>
                    <choiceReferences>Relationship</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Emergency_Contact_Relationship__c</elementReference>
                    </defaultValue>
                    <fieldText>Emergency Contact Relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>willing_to_donate</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FindContact.WillingDonate__c</elementReference>
                    </defaultValue>
                    <fieldText>Will you be willing to donate?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Willing_to_receive_txt_messages</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FindContact.SMS_Ok__c</elementReference>
                    </defaultValue>
                    <fieldText>Willing to receive txt messages?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Available_times</name>
                    <choiceReferences>AvailableTImesField</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Available_Times__c</elementReference>
                    </defaultValue>
                    <fieldText>Available times</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Available_Days</name>
                    <choiceReferences>AvailableDays</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Day_s_Available__c</elementReference>
                    </defaultValue>
                    <fieldText>Available Days</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Handbook</name>
        <label>Handbook</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Photo_Release</targetReference>
        </connector>
        <fields>
            <name>dispHandbook</name>
            <fieldText>&lt;p&gt;By signing below, I affirm that all of the information in this Registration is complete and accurate. I affirm that I know of no reason that Volunteer should not participate in this activity. I also acknowledge and consent to the following: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;VOLUNTEER HANDBOOK RECEIPT ACKNOWLEDGEMENT &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I have received a copy of the current We Can Ride, Inc. Volunteer Handbook that contains volunteer policies and procedures, including without limitation the Confidentiality Policy. I acknowledge that I have read the Volunteer Handbook and understand that I am responsible for acting in accordance with the policies and procedures of We Can Ride, Inc.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We Can Ride, Inc. retains the right to modify, amend, or change the policies and procedures in the Volunteer Handbook at  any time. Volunteers will be notified in advance of any changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Handbook_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Handbook_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Handbook_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateHandbook</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReceivedHandbook</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Received</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Handbook_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medical_Release</name>
        <label>Medical Release</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Waiver</targetReference>
        </connector>
        <fields>
            <name>Medical_Release_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_Release_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmergencyContact_waiverDisp</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Emergency_Contact_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Emergency Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmergencyContactPhoneWaiverDisp</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetVolInfo.Emergency_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Emergency Contact Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medical_Release_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReleaseText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 13.3333px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;I acknowledge and consent that We Can Ride, Inc. can take reasonable steps to seek medical care and transportation for me if necessary.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Agree_to_medical_release</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Acknowledge</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_New_Waiver</name>
        <label>Need New Waiver</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Handbook</targetReference>
        </connector>
        <fields>
            <name>DispNewWaiver</name>
            <fieldText>&lt;p&gt;Interests for this coming season&lt;/p&gt;&lt;p&gt;&lt;b&gt;Barn Aide-&lt;/b&gt; Catch, groom, tack, untack and release the horses after lessons. Arrive at least an hour early to get horses ready. Must already be trained as a leader and been a leader in one session. Attend and successfully pass barn aide training. You will then shadow the barn aides on the day you volunteer for one session for more training.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Events, Office Tasks, Committees-&lt;/b&gt;No training needed to help.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Feeder-&lt;/b&gt; Help feed our herd one day a week. Feeders get trained by the Barn Manager and are placed with 1-2 feeders on the day you feed.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Leader-&lt;/b&gt; Lead the horse in lessons making sure the horse is safe &amp;amp; well behaved. Arrive at least 20 minutes early to warm up the horse. Attend and successfully pass leader training to become a leader.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Sidewalker -&lt;/b&gt; Work with the client by walking alongside the horse during class. They help the client understand the instructor’s directions, achieve balance, independence, and reach personal goals.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Teaching Assistant –&lt;/b&gt; Help in class as assistant to instructor. Separate training required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Need_New_Waiver_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Need_New_Waiver_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sidewalker</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sidewalker</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Leader</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Leader</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Teaching_Assistant</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Teaching Assistant</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Need_New_Waiver_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Barn_Aide</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Barn Aide</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Barn_Maintenance</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Barn Maintenance</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Need_New_Waiver_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Help_on_Event_Committees</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help on Event Committees</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_at_Events</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help at Events</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Need_New_Waiver_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Help_in_Office</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help in Office</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Feeder</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Feeder</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Photo_Release</name>
        <label>Photo Release</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Medical_Release</targetReference>
        </connector>
        <fields>
            <name>DispPhoto</name>
            <fieldText>&lt;p&gt;By signing below, I affirm that all of the information in this Registration is complete and accurate. I affirm that I know of no reason that Volunteer should not participate in this activity. I also acknowledge and consent to the following:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Photo_Release_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Photo_Release_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Photo_Release_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Photo_Release_Picklist</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Photo Release</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Photo_Release_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dispPhoto2</name>
            <fieldText>&lt;p&gt;consent to and grant my permission for We Can Ride, Inc. to use Volunteer’s photograph and to publicly distribute of any and all photographs of myself or others for whom I am authorized to give consent, including the use of audio/visual materials for promotion, education, organized events, marketing, websites and social media and exhibition or any other use to benefit We Can Ride.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Photo_Release_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Photo_Release_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Photo_Release_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DatePhoto</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Photo_Release_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waiver</name>
        <label>Waiver</label>
        <locationX>314</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWaiver</targetReference>
        </connector>
        <fields>
            <name>DispWaiver</name>
            <fieldText>&lt;p&gt;{!GetCurrentWaiver.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Waiver_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Waiver_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Waiver_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Signed_Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SIgnedWaiverDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Waiver_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VolChangeemailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A volunteer has changed their information, to see the record go to &lt;a href=&quot;https://wecanride.lightning.force.com/{!GetVolInfo.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://wecanride.lightning.force.com/{!GetVolInfo.Id}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
