force-app/main/default/flows/Return_Volunteer_Riding_Menu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewAppAlert</name>
        <label>NewAppAlert</label>
        <locationX>2161</locationX>
        <locationY>2133</locationY>
        <actionName>Riders__c.New_Application</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdtaeWaiver</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetUpdatedClient.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Client</name>
        <label>Send Notification Client</label>
        <locationX>2158</locationX>
        <locationY>2379</locationY>
        <actionName>Contact.Application_Submitted_client_notice_contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>All_completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetUpdatedClient.ClientContact__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignclient</name>
        <label>assignclient</label>
        <locationX>2147</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>ClientRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUpdatedClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWaiverID</name>
        <label>AssignWaiverID</label>
        <locationX>1146</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>VarWaiverID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateWaiver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWaiverID_0</name>
        <label>AssignWaiverID</label>
        <locationX>1370</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>VarWaiverID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWaiver.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountClasses</name>
        <label>CountClasses</label>
        <locationX>1759</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>varNumberofClasses</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetClasses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedWaiver</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Forms_Completed</name>
        <label>All Forms Completed</label>
        <locationX>2575</locationX>
        <locationY>2129</locationY>
        <defaultConnector>
            <targetReference>FormsNotCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAllforms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Forms_Completed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewAppAlert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Client_Record</name>
        <label>Found Client Record</label>
        <locationX>1269</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>GetWaiverRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoFoundClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClient.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateClient</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundWaiver</name>
        <label>FoundWaiver</label>
        <locationX>1365</locationX>
        <locationY>1108</locationY>
        <defaultConnector>
            <targetReference>CreateWaiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWaiver.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWaiverID_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_step</name>
        <label>What step</label>
        <locationX>2362</locationX>
        <locationY>1929</locationY>
        <defaultConnector>
            <targetReference>Menu_of_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Photo_Release_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PhotoRelease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Photo_Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Photo_Release_Returning</targetReference>
            </connector>
            <label>Photo Release</label>
        </rules>
        <rules>
            <name>AuthForEmergency_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AuthForEmergencyTreatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Auth_for_Emerg_Med_Treatment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorization_for_Emergency_Medical_Treatment</targetReference>
            </connector>
            <label>AuthForEmergency</label>
        </rules>
        <rules>
            <name>Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Volunteer_Riding_Completed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistrationFlow</targetReference>
            </connector>
            <label>Registration</label>
        </rules>
        <rules>
            <name>Client_Waiver_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientWaiver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Client_Waiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Waiver_Returning</targetReference>
            </connector>
            <label>Client Waiver</label>
        </rules>
        <rules>
            <name>ScheduleSelector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Schedule_Completed_PL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_Schedule</targetReference>
            </connector>
            <label>Schedule</label>
        </rules>
        <rules>
            <name>Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Payer_Info__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentForm</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
        <rules>
            <name>Submit_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Forms_Completed</targetReference>
            </connector>
            <label>Submit Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCurrentYear</name>
        <dataType>Number</dataType>
        <expression>VALUE(text({!GetCurrentYear.Current_Year__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Return Volunteer Riding Menu {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Return Volunteer Riding Menu</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateClient</name>
        <label>CreateClient</label>
        <locationX>1458</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>GetWaiverRecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>ClientContact__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetContact.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateWaiver</name>
        <label>CreateWaiver</label>
        <locationX>1147</locationX>
        <locationY>1111</locationY>
        <connector>
            <targetReference>AssignWaiverID</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>GetClient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetWaiverRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetPolicy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetClasses</name>
        <label>GetClasses</label>
        <locationX>1549</locationX>
        <locationY>1405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountClasses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Riders__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClient</name>
        <label>GetClient</label>
        <locationX>1276</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Client_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>1461</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>1463</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupHomeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Current Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicy</name>
        <label>GetPolicy</label>
        <locationX>1280</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewClientPolicies</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedClient</name>
        <label>GetUpdatedClient</label>
        <locationX>1369</locationX>
        <locationY>1405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClasses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedWaiver</name>
        <label>GetUpdatedWaiver</label>
        <locationX>1975</locationX>
        <locationY>1405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignclient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>1273</locationX>
        <locationY>859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWaiverRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiverRecordType</name>
        <label>GetWaiverRecordType</label>
        <locationX>1274</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yearly_Forms_Volunteers</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupHomeRecordType</name>
        <label>GroupHomeRecordType</label>
        <locationX>1277</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group_Home</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdtaeWaiver</name>
        <label>UpdtaeWaiver</label>
        <locationX>2158</locationX>
        <locationY>2257</locationY>
        <connector>
            <targetReference>Send_Notification_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Submitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_completed</name>
        <label>All completed</label>
        <locationX>2158</locationX>
        <locationY>2519</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All_completed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>All_completed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompletedMsg</name>
                    <fieldText>&lt;p&gt;Thanks for completing your application, we will get in touch with you shortly for next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FormsNotCompleted</name>
        <label>FormsNotCompleted</label>
        <locationX>2574</locationX>
        <locationY>1404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
        <fields>
            <name>FormsNotCompleted_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FormsNotCompleted_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormsNotCompleted_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispMsg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You need to complete all the forms before you can submit&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormsNotCompleted_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Menu_of_Forms</name>
        <label>Menu of Forms</label>
        <locationX>2369</locationX>
        <locationY>1404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_step</targetReference>
        </connector>
        <fields>
            <name>DispCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(14, 157, 1); font-size: 24px;&quot;&gt;Your application has been submitted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetUpdatedWaiver.Application_Submitted__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoClasses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(29, 169, 0); background-color: rgb(255, 255, 255);&quot;&gt;Remember to register for classes in the Classes Tab&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varNumberofClasses</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetUpdatedWaiver.Application_Submitted__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InfoMenu</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;Current Client: {!ClientRecordVar.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete each section, once you have all the forms completed, click on submit the application&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selector</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Photo Release - {!GetUpdatedWaiver.Photo_Release__c} Consent&quot;,&quot;value&quot;:&quot;PhotoRelease&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Emergency Treatment Form {!GetUpdatedWaiver.Auth_for_Emerg_Med_Treatment__c}&quot;,&quot;value&quot;:&quot;AuthForEmergencyTreatment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:1},{&quot;label&quot;:&quot;Client Waiver Form - {!GetUpdatedWaiver.Client_Waiver__c}&quot;,&quot;value&quot;:&quot;ClientWaiver&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Registration Form - {!GetUpdatedWaiver.Volunteer_Riding_Completed__c}&quot;,&quot;value&quot;:&quot;Registration&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Selector2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Payment Form - {!GetUpdatedWaiver.Payer_Info__c}&quot;,&quot;value&quot;:&quot;Payment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Menu_of_Forms_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_of_Forms_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HelpfulDisp</name>
                    <fieldText>&lt;p&gt;These are helpful documents; please download them for your records&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001ZAMm/pVljewylmpBe_clBlAw3tjrtaQpGFhXUGpwAUDZA9yY&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Payment Policy Notice&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001R2wM/ES8beLVvx56AyjFkT5BJxGyFQwjk3YzItBzT4I1PSDA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Session Dates&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://wecanride.my.salesforce.com/sfc/p/61000000Z9c1/a/6T000001ZAMn/X0LJRh2YIA9X5kbWRuNnaPiDHljyMRSxY3A9kqggmpI&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Volunteer Lesson Information&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1248</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetPolicy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Authorization_for_Emergency_Medical_Treatment</name>
        <label>Authorization for Emergency Medical Treatment</label>
        <locationX>1476</locationX>
        <locationY>1829</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Authorization_Emergency_Medical_Treatment</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Client_Waiver_Returning</name>
        <label>Client Waiver</label>
        <locationX>1351</locationX>
        <locationY>1832</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Client_Waiver</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PaymentForm</name>
        <label>PaymentForm</label>
        <locationX>921</locationX>
        <locationY>1836</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Payment</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Photo_Release_Returning</name>
        <label>Photo Release</label>
        <locationX>1222</locationX>
        <locationY>1829</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Photo_Release</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RegistrationFlow</name>
        <label>Registration</label>
        <locationX>1095</locationX>
        <locationY>1828</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Riding_Lesson_Registration</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Volunteer_Schedule</name>
        <label>Volunteer Schedule</label>
        <locationX>1019</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>GetUpdatedClient</targetReference>
        </connector>
        <flowName>Returning_Volunteer_Schedule</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is a new application&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofClasses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
