force-app/main/default/flows/Returning_Parent_Guardian.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignNewContact</name>
        <label>AssignNewContact</label>
        <locationX>2285</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>NewContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSecondGuardian</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClientRecord2ndG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContact1st</name>
        <label>AssignNewContact</label>
        <locationX>1634</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>NewContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateFirstGuardian</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClientRecord2ndG_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContact_0</name>
        <label>AssignNewContact</label>
        <locationX>2503</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>NewContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Contact_2nd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClientRecord2ndG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContact_0_0_0</name>
        <label>AssignNewContact</label>
        <locationX>1852</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>NewContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClientRecord2ndG_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>father</stringValue>
        </value>
    </choices>
    <choices>
        <name>guardian</name>
        <choiceText>Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modify</name>
        <choiceText>Modify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify</stringValue>
        </value>
    </choices>
    <choices>
        <name>mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Finish_Flow</name>
        <label>Finish Flow</label>
        <locationX>1413</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Get_All_Contacts_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFinish</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Action</name>
        <label>Next Action</label>
        <locationX>1528</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Finish_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add1stG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstGAddButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddFirstGuardian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectExisting1stG</targetReference>
            </connector>
            <label>Add1stG</label>
        </rules>
        <rules>
            <name>Edit1stG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstGEditButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EditFGInformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_1st_Guradian</targetReference>
            </connector>
            <label>Edit1stG</label>
        </rules>
        <rules>
            <name>Add2ndG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondGAddButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddSecondGuardian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectExisting2ndG</targetReference>
            </connector>
            <label>Add2ndG</label>
        </rules>
        <rules>
            <name>Edit2ndG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondGEditButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EditSGInformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_2nd_Guardian</targetReference>
            </connector>
            <label>Edit2ndG</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeOfGuardian</name>
        <label>TypeOfGuardian</label>
        <locationX>2382</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>New_2nd_Guardian</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Guardian</defaultConnectorLabel>
        <rules>
            <name>ExistingGuardian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contact_2nd</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NewContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewContact_0</targetReference>
            </connector>
            <label>ExistingGuardian</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeOfGuardian_0</name>
        <label>TypeOfGuardian</label>
        <locationX>1730</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>New_2nd_Guardian_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Guardian</defaultConnectorLabel>
        <rules>
            <name>ExistingGuardian_1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NewContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewContact_0_0_0</targetReference>
            </connector>
            <label>ExistingGuardian</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GuardianList</name>
        <collectionReference>Get_All_Contacts_Accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TwentyOneMonths</name>
        <dataType>Date</dataType>
        <expression>today ()-((365/12) * 21)</expression>
    </formulas>
    <interviewLabel>Returning - Parent/Guardian {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Returning - Parent/Guardian</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFirstGuardian</name>
        <label>CreateFirstGuardian</label>
        <locationX>1634</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>AssignNewContact1st</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>Employeer_1stGuardian_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email_1stGuardian_New.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_1stGuardian_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_1stGuardian_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_1stGuardian_New.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSecondGuardian</name>
        <label>CreateSecondGuardian</label>
        <locationX>2285</locationX>
        <locationY>951</locationY>
        <connector>
            <targetReference>AssignNewContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>Employeer_2ndGuardian_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email_2ndGuardian_New.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_2ndGuardian_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_2ndGuardian_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_2ndGuardian_New.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Contacts_Accounts</name>
        <label>Get All Contacts Accounts</label>
        <locationX>838</locationX>
        <locationY>1532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClientRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientRecord</name>
        <label>GetClientRecord</label>
        <locationX>352</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFirstGuardian</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>178</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Contacts_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFirstGuardian</name>
        <label>GetFirstGuardian</label>
        <locationX>523</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSecondGuardian</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Father_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSecondGuardian</name>
        <label>GetSecondGuardian</label>
        <locationX>668</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Client_Info_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Mother_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GroupHomeRecordType</name>
        <label>GroupHomeRecordType</label>
        <locationX>176</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group_Home</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClientRecord2ndG</name>
        <label>UpdateClientRecord</label>
        <locationX>2487</locationX>
        <locationY>1460</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mother_Name__c</field>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClientRecord2ndG_0</name>
        <label>UpdateClientRecord</label>
        <locationX>1852</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Father_Name__c</field>
            <value>
                <elementReference>NewContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Riders__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFirstGuardian</name>
        <label>UpdateFirstGuardian</label>
        <locationX>2049</locationX>
        <locationY>1363</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFirstGuardian.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>Employeer_1stGuardian_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email_1stGuardian_Edit.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_1stGuardian_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_1stGuardian_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_1stGuardian_Edit.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSecondGuardian</name>
        <label>UpdateSecondGuardian</label>
        <locationX>2683</locationX>
        <locationY>1546</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSecondGuardian.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>Employeer_2ndGuardian_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email_2nd1stGuardian_Edit.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_2ndGuardian_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_2ndGuardian_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_2ndtGuardian_Edit.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Edit_1st_Guradian</name>
        <label>Edit 1st Guradian</label>
        <locationX>2050</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateFirstGuardian</targetReference>
        </connector>
        <fields>
            <name>GuardianInfoDisp_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Parent/Guardian Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;______________________________________&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;______________________________________&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_1st_Guradian_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_1st_Guradian_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_1stGuardian_Edit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetFirstGuardian.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_1stGuardian_Edit</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetFirstGuardian.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_1stGuardian_Edit</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetFirstGuardian.HomePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_1st_Guradian_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_1stGuardian_Edit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetFirstGuardian.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employeer_1stGuardian_Edit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetFirstGuardian.Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Employeer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_2nd_Guardian</name>
        <label>Edit 2nd Guardian</label>
        <locationX>2684</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateSecondGuardian</targetReference>
        </connector>
        <fields>
            <name>GuardianInfoDisp_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Parent/Guardian Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;______________________________________&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;______________________________________&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_2nd_Guardian_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_2nd_Guardian_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_2ndGuardian_Edit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetSecondGuardian.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_2nd1stGuardian_Edit</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetSecondGuardian.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_2ndtGuardian_Edit</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetSecondGuardian.HomePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_2nd_Guardian_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_2ndGuardian_Edit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetSecondGuardian.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employeer_2ndGuardian_Edit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetSecondGuardian.Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Employeer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_2nd_Guardian</name>
        <label>New 2nd Guardian</label>
        <locationX>2285</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSecondGuardian</targetReference>
        </connector>
        <fields>
            <name>GuardianInfoDisp_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Parent/Guardian Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;______________________________________&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;______________________________________&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_2nd_Guardian_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_2nd_Guardian_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_2ndGuardian_New</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_2ndGuardian_New</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_2ndGuardian_New</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_2nd_Guardian_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_2ndGuardian_New</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employeer_2ndGuardian_New</name>
                    <dataType>String</dataType>
                    <fieldText>Employeer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_2nd_Guardian_0</name>
        <label>New 2nd Guardian</label>
        <locationX>1633</locationX>
        <locationY>787</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateFirstGuardian</targetReference>
        </connector>
        <fields>
            <name>GuardianInfoDisp_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Parent/Guardian Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;______________________________________&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;______________________________________&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_2nd_Guardian_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_2nd_Guardian_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_1stGuardian_New</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_1stGuardian_New</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_1stGuardian_New</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_2nd_Guardian_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_1stGuardian_New</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employeer_1stGuardian_New</name>
                    <dataType>String</dataType>
                    <fieldText>Employeer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Client_Info_0</name>
        <label>New Client Info</label>
        <locationX>856</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Action</targetReference>
        </connector>
        <fields>
            <name>GuardianInfoDisp_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Parent/Guardian&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;______________________________________&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;______________________________________&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Client_Info_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispFirstGuardian_0</name>
                    <fieldText>&lt;p&gt;Name: {!GetFirstGuardian.FirstName} {!GetFirstGuardian.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email: {!GetFirstGuardian.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Employeer: {!GetFirstGuardian.Business__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Phone:  {!GetFirstGuardian.MobilePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FirstGEditButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit Information&quot;,&quot;value&quot;:&quot;EditFGInformation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetFirstGuardian.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Client_Info_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firstWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No First Guardian Selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FirstGAddButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add Guardian&quot;,&quot;value&quot;:&quot;AddFirstGuardian&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetFirstGuardian.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SecondGuardian_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Second Guardian&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;____________________________________________________________________________&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Client_Info_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispSecondGuardian</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!GetSecondGuardian.FirstName} {!GetSecondGuardian.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email: {!GetSecondGuardian.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Employeer: {!GetSecondGuardian.Business__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Phone: {!GetSecondGuardian.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SecondGEditButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit Information&quot;,&quot;value&quot;:&quot;EditSGInformation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetSecondGuardian.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Client_Info_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Client_Info_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SecondWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;No Second Guardian Selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SecondGAddButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add Guardian&quot;,&quot;value&quot;:&quot;AddSecondGuardian&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetSecondGuardian.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectExisting1stG</name>
        <label>SelectExisting1stG</label>
        <locationX>1738</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TypeOfGuardian_0</targetReference>
        </connector>
        <fields>
            <name>SelectExisting1stG_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectExisting1stG_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectExisting1stG_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact</name>
                    <choiceReferences>GuardianList</choiceReferences>
                    <choiceReferences>New_Contact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Contact From Your Household</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectExisting1stG_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectExisting2ndG</name>
        <label>SelectExisting2ndG</label>
        <locationX>2389</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TypeOfGuardian</targetReference>
        </connector>
        <fields>
            <name>SelectExisting2ndG_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectExisting2ndG_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectExisting2ndG_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact_2nd</name>
                    <choiceReferences>GuardianList</choiceReferences>
                    <choiceReferences>New_Contact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Contact From Your Household</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectExisting2ndG_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>GroupHomeRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFinish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
