force-app/main/default/flows/Returning_Photo_Release.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Step</name>
        <label>Update Step</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Forms_Completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Photo_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhotoAuthorization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Photo_Release_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhotoAuthorization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Photo_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWaiverFull</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consent</name>
        <choiceText>Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Consent</name>
        <choiceText>Non-Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>PhotoRelease</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Photo_Release__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Returning - Photo Release {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Returning - Photo Release</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Photo_Release</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWaiverID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWaiver</name>
        <label>UpdateWaiver</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWaiverID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Photo_Release_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Release_Name__c</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Release__c</field>
            <value>
                <elementReference>PhotoAuthorization</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWaiverFull</name>
        <label>UpdateWaiver</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>UpdateWaiver</targetReference>
        </connector>
        <inputReference>GetWaiver</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Photo_Release</name>
        <label>Photo Release</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Step</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;By selecting below I hereby &lt;strong&gt;do consent / do not consent&lt;/strong&gt; to and authorize the use and public distribution of any and all photographs of myself or others for whom I am authorized to give consent, including the use of audio/visual materials for promotion, education or exhibition or any other use to benefit We Can Ride, Inc.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Photo_Release_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Photo_Release_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Photo_Release_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PhotoAuthorization</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Photo Consent</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
