force-app/main/default/flows/Returning_Riding_Lesson_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Step</name>
        <label>Update Step</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Forms_Completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Riding_skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Riding_Skills</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Volunteer_Riding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Volunteer_Riding_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Horse_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Describe_your_horse_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Riding_Goals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Riding_Goals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWaiverFull</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consent</name>
        <choiceText>Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Consent</name>
        <choiceText>Non-Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>PhotoRelease</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Photo_Release__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RideLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Riding_skills__c</picklistField>
        <picklistObject>VolunteerWaiver__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Returning - Riding Lesson Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Returning - Riding Lesson Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>GetRidingLessonInfo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RidingLessonInfo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Riding_Lesson_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWaiverID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWaiverFull</name>
        <label>UpdateWaiver</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputReference>GetWaiver</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Riding_Lesson_Registration</name>
        <label>Riding Lesson Registration</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Step</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!Get.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Riding_Lesson_Registration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Riding_Lesson_Registration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Riding_Skills</name>
                    <choiceReferences>RideLevel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Riding Skills</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Riding_Lesson_Registration_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Please_Describe_your_horse_experience</name>
            <fieldText>Please Describe your horse experience:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Riding_Goals</name>
            <fieldText>Please list 3 short term goals:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
