force-app/main/default/flows/Returning_Therapy_Cancellation_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Step</name>
        <label>Update Step</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWaiver</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>HippaWaiver</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Liability_Waiver__c</picklistField>
        <picklistObject>VolunteerWaiver__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PhotoRelease</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Photo_Release__c</picklistField>
        <picklistObject>Riders__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Returning - Therapy Cancellation Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Returning - Therapy Cancellation Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateHippaWaiver</name>
        <label>CreateHippaWaiver</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hippotherapy_Cancellation_Policy__c</field>
            <value>
                <elementReference>Authorization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeWaiver.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Dated__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetTherapyCancellationPolicy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTherapyCancellationPolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Current Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeWaiver</name>
        <label>GetRecordTypeWaiver</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>client</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTherapyCancellationPolicy</name>
        <label>GetTherapyCancellationPolicy</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confidentiality_HIPPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TherapyCancellationPolicy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWaiver</name>
        <label>UpdateWaiver</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CreateHippaWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWaiverID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hippotherapy_Cancellation_Policy_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hippotherapy_Cancellation_Policy__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confidentiality_HIPPA</name>
        <label>Confidentiality &amp; HIPPA</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Step</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!GetTherapyCancellationPolicy.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confidentiality_HIPPA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confidentiality_HIPPA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confidentiality_HIPPA_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Authorization</name>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Authorization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeWaiver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCurrentYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
