force-app/main/default/flows/Return_Volunteer_ONLY_Menu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Internal_Notice</name>
        <label>Internal Notice</label>
        <locationX>2375</locationX>
        <locationY>2263</locationY>
        <actionName>Volunteer_Info__c.Application_Submitted_Return_Volunteer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdtaeWaiver</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varVolInfoId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notice_to_Volunteer</name>
        <label>Notice to Volunteer</label>
        <locationX>2368</locationX>
        <locationY>2575</locationY>
        <actionName>Volunteer_Info__c.Application_Submitted_Return_Volunteer_Notice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>All_completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varVolInfoId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignVolInfoVal</name>
        <label>AssignVolInfoVal</label>
        <locationX>1576</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varVolInfoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Vol_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetWaiverRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVolInfoVal_found</name>
        <label>AssignVolInfoVal</label>
        <locationX>1362</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>varVolInfoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVolunteerRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetWaiverRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvolunteer</name>
        <label>assignvolunteer</label>
        <locationX>2147</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>VolunteerRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUpdatedVolInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWaiverID</name>
        <label>AssignWaiverID</label>
        <locationX>1136</locationX>
        <locationY>1217</locationY>
        <assignmentItems>
            <assignToReference>VarWaiverID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateWaiver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWaiverID_0</name>
        <label>AssignWaiverID</label>
        <locationX>1360</locationX>
        <locationY>1231</locationY>
        <assignmentItems>
            <assignToReference>VarWaiverID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWaiver.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Forms_Completed</name>
        <label>All Forms Completed</label>
        <locationX>2566</locationX>
        <locationY>2192</locationY>
        <defaultConnector>
            <targetReference>FormsNotCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAllforms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Forms_Completed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Notice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_vol_record</name>
        <label>Found vol record</label>
        <locationX>1354</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>AssignVolInfoVal_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>NoVolRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVolunteerRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Vol_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundWaiver</name>
        <label>FoundWaiver</label>
        <locationX>1355</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>CreateWaiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWaiver.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWaiverID_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_step</name>
        <label>What step</label>
        <locationX>2363</locationX>
        <locationY>2088</locationY>
        <defaultConnector>
            <targetReference>Menu_of_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Interests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.InterestsPL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest</targetReference>
            </connector>
            <label>Interests</label>
        </rules>
        <rules>
            <name>Photo_Release_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PhotoRelease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Photo_Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Photo_Release_Returning</targetReference>
            </connector>
            <label>Photo Release</label>
        </rules>
        <rules>
            <name>AuthForEmergency_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AuthForEmergencyTreatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Auth_for_Emerg_Med_Treatment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorization_for_Emergency_Medical_Treatment</targetReference>
            </connector>
            <label>AuthForEmergency</label>
        </rules>
        <rules>
            <name>Liability_Waiver_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiabilityWaiver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Client_Waiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liability_Waiver</targetReference>
            </connector>
            <label>Liability Waiver</label>
        </rules>
        <rules>
            <name>HandbookChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handbook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdatedWaiver.Handbook_Acknowledgement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handbook</targetReference>
            </connector>
            <label>Handbook</label>
        </rules>
        <rules>
            <name>Submit_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selector.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Forms_Completed</targetReference>
            </connector>
            <label>Submit Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCurrentYear</name>
        <dataType>Number</dataType>
        <expression>VALUE(text({!GetCurrentYear.Current_Year__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Return Volunteer ONLY Menu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteer - Returning - Forms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Vol_Info</name>
        <label>Create Vol Info</label>
        <locationX>1576</locationX>
        <locationY>432</locationY>
        <connector>
            <targetReference>AssignVolInfoVal</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!GetContact.FirstName} {!GetContact.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer_Name__c</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateWaiver</name>
        <label>CreateWaiver</label>
        <locationX>1137</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>AssignWaiverID</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetWaiverRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>varVolInfoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetPolicy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>1279</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVolunteerRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>1464</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicy</name>
        <label>GetPolicy</label>
        <locationX>1279</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YearlyForms</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedVolInfo</name>
        <label>GetUpdatedVolInfo</label>
        <locationX>1369</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUpdatedWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedWaiver</name>
        <label>GetUpdatedWaiver</label>
        <locationX>1975</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignvolunteer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVolunteerRecord</name>
        <label>GetVolunteerRecord</label>
        <locationX>1461</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_vol_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>1363</locationX>
        <locationY>879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVolInfoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWaiverRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiverRecordType</name>
        <label>GetWaiverRecordType</label>
        <locationX>1362</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yearly_Forms_Volunteers</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdtaeWaiver</name>
        <label>UpdtaeWaiver</label>
        <locationX>2375</locationX>
        <locationY>2422</locationY>
        <connector>
            <targetReference>Notice_to_Volunteer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Submitted__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_completed</name>
        <label>All completed</label>
        <locationX>2368</locationX>
        <locationY>2736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All_completed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>All_completed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompletedMsg</name>
                    <fieldText>&lt;p&gt;Thanks for completing your application, we will get in touch with you shortly for next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_completed_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FormsNotCompleted</name>
        <label>FormsNotCompleted</label>
        <locationX>2574</locationX>
        <locationY>1547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Menu_of_Forms</targetReference>
        </connector>
        <fields>
            <name>FormsNotCompleted_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FormsNotCompleted_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormsNotCompleted_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispMsg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You need to complete all the forms before you can submit&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormsNotCompleted_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Menu_of_Forms</name>
        <label>Menu of Forms</label>
        <locationX>2369</locationX>
        <locationY>1549</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_step</targetReference>
        </connector>
        <fields>
            <name>DispCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(14, 157, 1); font-size: 24px;&quot;&gt;Your application has been submitted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetUpdatedWaiver.Application_Submitted__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InfoMenu</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;Current Vol: {!GetVolunteerRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete each section, once you have all the forms completed, click on submit the application&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selector</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Interests - {!GetUpdatedWaiver.InterestsPL__c}&quot;,&quot;value&quot;:&quot;Interests&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Photo Release - {!GetUpdatedWaiver.Photo_Release__c} Consent&quot;,&quot;value&quot;:&quot;PhotoRelease&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:1},{&quot;label&quot;:&quot;Emergency Treatment Form {!GetUpdatedWaiver.Auth_for_Emerg_Med_Treatment__c}&quot;,&quot;value&quot;:&quot;AuthForEmergencyTreatment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:2},{&quot;label&quot;:&quot;Liability Waiver - {!GetUpdatedWaiver.Client_Waiver__c}&quot;,&quot;value&quot;:&quot;LiabilityWaiver&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Selector2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Handbook Received - {!GetUpdatedWaiver.Handbook_Acknowledgement__c}&quot;,&quot;value&quot;:&quot;Handbook&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Menu_of_Forms_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_of_Forms_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1249</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetPolicy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Authorization_for_Emergency_Medical_Treatment</name>
        <label>Authorization for Emergency Medical Treatment</label>
        <locationX>1477</locationX>
        <locationY>1974</locationY>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
        <flowName>Returning_Authorization_Emergency_Medical_Treatment</flowName>
        <inputAssignments>
            <name>ClientID</name>
            <value>
                <elementReference>ClientRecordVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handbook</name>
        <label>Handbook</label>
        <locationX>1129</locationX>
        <locationY>1973</locationY>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
        <flowName>volunteer_handbook</flowName>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Interest</name>
        <label>Interest</label>
        <locationX>1006</locationX>
        <locationY>1974</locationY>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
        <flowName>volunteer_Interest</flowName>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Liability_Waiver</name>
        <label>Liability Waiver</label>
        <locationX>1336</locationX>
        <locationY>2203</locationY>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
        <flowName>Returning_Volunteer_Liability_Waiver</flowName>
        <inputAssignments>
            <name>VarCurrentYear</name>
            <value>
                <elementReference>varCurrentYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVolunteerId</name>
            <value>
                <elementReference>GetVolunteerRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Photo_Release_Returning</name>
        <label>Photo Release</label>
        <locationX>1240</locationX>
        <locationY>1975</locationY>
        <connector>
            <targetReference>GetUpdatedVolInfo</targetReference>
        </connector>
        <flowName>Returning_Photo_Release</flowName>
        <inputAssignments>
            <name>varWaiverID</name>
            <value>
                <elementReference>VarWaiverID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarClientContactID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is a new application&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberofClasses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varVolInfoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VolunteerRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Info__c</objectType>
    </variables>
</Flow>
