force-app/main/default/flows/Returning_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VarClientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientID.ClientContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWaiver.Forms_Completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWaiver</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Returning - Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Returning - Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWaiverID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFormsCount</name>
        <label>UpdateFormsCount</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputReference>GetWaiver</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWaiver</name>
        <label>UpdateWaiver</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>UpdateFormsCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWaiverID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payer_Address__c</field>
            <value>
                <elementReference>varPayerAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer_Info__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer_Phone__c</field>
            <value>
                <elementReference>PhonePayer.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer__c</field>
            <value>
                <elementReference>Payer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer_email__c</field>
            <value>
                <elementReference>emailPayer.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Signature_Name__c</field>
            <value>
                <elementReference>Signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Address__c</field>
            <value>
                <elementReference>var3rdPartyAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Contact__c</field>
            <value>
                <elementReference>ContactThirdParty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Payer_Waiver_Name__c</field>
            <value>
                <elementReference>Third_Party_Payer_Waiver_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_email__c</field>
            <value>
                <elementReference>email_ThirdParty.value</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>PaymentDisp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Responsibility for Payment. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I hereby acknowledge that I am ultimately responsible for &lt;strong&gt;all&lt;/strong&gt; charges applied to my account &lt;strong&gt;whether or not covered by insurance or waiver&lt;/strong&gt;. I further acknowledge that I have read, understand and agreed to the Payment Policy Notice (separate form) as well as all additional policies and procedures regarding class cancellation and payments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payer</name>
                    <dataType>String</dataType>
                    <fieldText>Payer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PayerAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhonePayer</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>emailPayer</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ThirdPartyPayer</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Third party payer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Payment_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Third_Party_Payer_Waiver_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Third-Party Payer/Waiver Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone_ThirdParty</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_ThirdParty</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactThirdParty</name>
                    <dataType>String</dataType>
                    <fieldText>Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>email_ThirdParty</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ThirdPartyPayer.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Signature</name>
            <dataType>String</dataType>
            <fieldText>Signature</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>var3rdPartyAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Address_ThirdParty.street}
{!Address_ThirdParty.city}, {!Address_ThirdParty.province}
{!Address_ThirdParty.postalCode}</text>
    </textTemplates>
    <textTemplates>
        <name>varPayerAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!PayerAddress.street} 
{!PayerAddress.city}, {!PayerAddress.province}
{!PayerAddress.postalCode}</text>
    </textTemplates>
    <variables>
        <name>ClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Riders__c</objectType>
    </variables>
    <variables>
        <name>VarClientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCurrentYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
