force-app/main/default/flows/Returning_Schedule_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Requested</name>
        <label>Assign Requested</label>
        <locationX>1922</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varWaitListStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_class_registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wait_List</name>
        <label>Assign Wait List</label>
        <locationX>1658</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varWaitListStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wait list Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_class_registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>2690</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Classes_Available</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentFall</name>
        <label>AssignmentFall</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fall_Classes_Available</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentFall_0</name>
        <label>AssignmentFall</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fall_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSpring</name>
        <label>AssignmentSpring</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Spring_Classes_Available</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSpring_0</name>
        <label>AssignmentSpring</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Spring_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSummer</name>
        <label>AssignmentSummer</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Summer_Classes_Available</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSummer_0</name>
        <label>AssignmentSummer</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Summer_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentWinter</name>
        <label>AssignmentWinter</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Winter_Classes_Available</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentWinter_0</name>
        <label>AssignmentWinter</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Winter_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection</name>
        <label>Create Collection</label>
        <locationX>1790</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>ColSelectedClasses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCurrentClass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Classes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Classes_Selected</name>
        <label>Classes Selected</label>
        <locationX>1568</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Main</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClassSelComp.outputSelectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Classes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingReg</name>
        <label>ExistingReg</label>
        <locationX>1636</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>WaitList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Reg.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Classes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_Program_set</name>
        <label>Level &amp; Program set</label>
        <locationX>809</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Registered_Classes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>noSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client.Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_The_Office</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session</name>
        <label>Session</label>
        <locationX>1568</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Classes_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_contact_Spring</targetReference>
            </connector>
            <label>Spring</label>
        </rules>
        <rules>
            <name>Summer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Summer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_contact_Summer</targetReference>
            </connector>
            <label>Summer</label>
        </rules>
        <rules>
            <name>Fall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_contact</targetReference>
            </connector>
            <label>Fall</label>
        </rules>
        <rules>
            <name>Winter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Winter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_contact_winter</targetReference>
            </connector>
            <label>Winter</label>
        </rules>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinishButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continue</stringValue>
                </rightValue>
            </conditions>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_contact</name>
        <label>Type of contact</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Fall_Classes_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>VolunteerContact_Fall</name>
            <conditionLogic>(1 OR 2) and 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fall_Classes_Available_Vol</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_contact_Spring</name>
        <label>Type of contact</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Spring_Classes_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>VolunteerContact_Spring</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Spring_Classes_Available_Vol</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_contact_Summer</name>
        <label>Type of contact</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Summer_Classes_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>VolunteerContact_Summer</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Summer_Classes_Available_Vol</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_contact_winter</name>
        <label>Type of contact</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Winter_Classes_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>VolunteerContact_winter</name>
            <conditionLogic>(1 OR 2) and 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client.Program_Participation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Lesson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Volunteer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Winter_Classes_Available_Vol</targetReference>
            </connector>
            <label>Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>WaitList</name>
        <label>WaitList</label>
        <locationX>1790</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Assign_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWaitList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Classes.Open_Spots__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait list Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wait_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Class_Selection</name>
        <collectionReference>Get_Spring_Classes_Available</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Class__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Returning - Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Returning - Schedule Selection</label>
    <loops>
        <name>Loop_Classes</name>
        <label>Loop Classes</label>
        <locationX>1394</locationX>
        <locationY>1490</locationY>
        <collectionReference>ClassSelComp.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetClassInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_class_registration</name>
        <label>create class registration</label>
        <locationX>1790</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>GetCurrentClass</targetReference>
        </connector>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>Loop_Classes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Riders__c</field>
            <value>
                <elementReference>Get_Client.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varWaitListStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Reg</name>
        <label>Find Existing Reg</label>
        <locationX>1636</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingReg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Classes.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Riders__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Classes_Available</name>
        <label>Get Classes Available</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Level_Program_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Riders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fall_Classes_Available</name>
        <label>Get Fall Classes Available</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentFall</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4 or 5 or 6) and not (7 or 8)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fall</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>private</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HIPPO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level_Calculated__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fall_Classes_Available_Vol</name>
        <label>Get Fall Classes Available Vol</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentFall_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fall</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registered_Classes</name>
        <label>Get Registered Classes</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Riders__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Class__c</object>
        <sortField>Class_start_date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spring_Classes_Available</name>
        <label>Get Spring Classes Available</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentSpring</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4 or 5 or 6) and not (7 or 8)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Spring</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HIPPO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level_Calculated__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spring_Classes_Available_Vol</name>
        <label>Get Spring Classes Available Vol</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentSpring_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Spring</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Summer_Classes_Available</name>
        <label>Get Summer Classes Available</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentSummer</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4 or 5 or 6) and not ( 7 or 8)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Summer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HIPPO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level_Calculated__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Summer_Classes_Available_Vol</name>
        <label>Get Summer Classes Available Vol</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentSummer_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Summer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Winter_Classes_Available</name>
        <label>Get Winter Classes Available</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentWinter</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4 or 5 or 6) and not (7 or 8)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Winter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HIPPO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client.Level_Calculated__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Winter_Classes_Available_Vol</name>
        <label>Get Winter Classes Available Vol</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentWinter_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4)</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>winter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>volunteer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClassInfo</name>
        <label>GetClassInfo</label>
        <locationX>1636</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Reg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Classes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentClass</name>
        <label>GetCurrentClass</label>
        <locationX>1790</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_class_registration</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePreference</name>
        <label>UpdatePreference</label>
        <locationX>1394</locationX>
        <locationY>2822</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetContact</targetReference>
        </connector>
        <inputReference>SelectedClassesOrder.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_The_Office</name>
        <label>Contact The Office</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please contact the office to fix your information&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Error: No level Set&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Main</name>
        <label>Main</label>
        <locationX>1568</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Session</targetReference>
        </connector>
        <fields>
            <name>TypeOfClass</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Winter Session&quot;,&quot;value&quot;:&quot;Winter&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Spring Session&quot;,&quot;value&quot;:&quot;Spring&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Add Summer Session&quot;,&quot;value&quot;:&quot;Summer&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Add Fall Session&quot;,&quot;value&quot;:&quot;Fall&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DispRegClasses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You are registered for the following classes:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Main_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Main_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Main_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingClasses</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Client_Class__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Client_Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Registered_Classes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Class_Info__c,Status__c,Preference__c,Class_start_date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Name:Class Record</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:143, Class_Info__c:326, Status__c:105, Preference__c:126, Class_start_date__c:177</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnAlignments</name>
                        <value>
                            <stringValue>Status__c:center, Preference__c:center, Class_start_date__c:center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Main_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FinishButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Continue&quot;,&quot;value&quot;:&quot;Continue&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varShowContinue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Sessions</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Order</name>
        <label>Select Order</label>
        <locationX>1394</locationX>
        <locationY>2714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePreference</targetReference>
        </connector>
        <fields>
            <name>Select_Order_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Order_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Order_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Instructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select your preferences by clicking on the preference column, then click save when done.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(244, 0, 0);&quot;&gt;Otherwise, you will be assigned to the best fit possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Order_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SelectedClassesOrder</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Client_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Client_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Class_Info__c,Preference__c,Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:152, Class_Info__c:334, Preference__c:153, Status__c:188</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Class Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ColSelectedClasses</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Classes</name>
        <label>Show Classes</label>
        <locationX>1568</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Classes_Selected</targetReference>
        </connector>
        <fields>
            <name>ClassSelComp</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Open_Spots__c,Session__c,Class_Level__c,Class_Type__c,Name,Class_Start__c,Instructor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Open_Spots__c:126, Session__c:151, Class_Level__c:124, Class_Type__c:254, Name:270, Class_Start__c:205, Instructor__c:208</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ClassWithSession</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ClassSelComp2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Classes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ClassWithSession</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Open_Spots__c&quot;,&quot;guid&quot;:&quot;column-b31d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Open Spots&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Session__c&quot;,&quot;guid&quot;:&quot;column-5712&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Session&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Class_Level__c&quot;,&quot;guid&quot;:&quot;column-8ee6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Level&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Class Level&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Class_Type__c&quot;,&quot;guid&quot;:&quot;column-769b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Class Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8705&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Class Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Class_Start__c&quot;,&quot;guid&quot;:&quot;column-7ba9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Class Start&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Instructor__c&quot;,&quot;guid&quot;:&quot;column-c66e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Instructor&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Scroll to the bottom after selecting you classes to save.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Next Step</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClassWithSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>ColSelectedClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShowContinue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWaitListStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
