force-app/main/default/flows/Update_Support_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Addition</name>
        <label>Addition</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Leader</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClass.Leader_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SideWalker</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClass.Sidewalkers_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BarnAid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClass.Barn_Aid_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Class</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Numbers</name>
        <label>Set Start Numbers</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>BarnAid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Riders__r.Barn_Aids__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Riders__r.Leaders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SideWalker</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Riders__r.Sidewalkers__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addition</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Support Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Support Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClass</name>
        <label>GetClass</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Start_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Class__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Class</name>
        <label>Update Class</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Class__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Barn_Aid_Total__c</field>
            <value>
                <elementReference>BarnAid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leader_Total__c</field>
            <value>
                <elementReference>Leader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sidewalkers_Total__c</field>
            <value>
                <elementReference>SideWalker</elementReference>
            </value>
        </inputAssignments>
        <object>Class__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetClass</targetReference>
        </connector>
        <object>Client_Class__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>BarnAid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Leader</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SideWalker</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
