force-app/main/default/flows/Volunteer_Attendance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_VolAttendance_Fields</name>
        <label>Assign New VolAttendance Fields</label>
        <locationX>663</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>New_VolAttendance.Volunteer_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingVolunteer.Volunteer_Info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_VolAttendance.Class_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobject_ExistingClassTime.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Collection</name>
        <label>Update the Collection</label>
        <locationX>1013</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>collection_NewVolAttendance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_VolAttendance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Attendance_Records</name>
        <label>Check Attendance Records</label>
        <locationX>198</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>VolAttendance_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_VolAttendanceCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Volunteers</targetReference>
            </connector>
            <label>VolAttendance unchecked</label>
        </rules>
        <rules>
            <name>Attendance_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_VolAttendanceCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutputAttendanceTrue</targetReference>
            </connector>
            <label>Attendance Exists</label>
        </rules>
    </decisions>
    <description>Same Flow logic as version 1 but removes error handling in loops and corrects inner loop control</description>
    <interviewLabel>Volunteer Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteer Attendance</label>
    <loops>
        <description>Loop through the Class Time rcds, then add Rider</description>
        <name>Loop_Through_ClassTimes</name>
        <label>Loop Through ClassTimes</label>
        <locationX>654</locationX>
        <locationY>37</locationY>
        <assignNextValueToReference>sobject_ExistingClassTime</assignNextValueToReference>
        <collectionReference>collection_ClassTimes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_VolAttendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Volunteers</name>
        <label>Loop Through Volunteers</label>
        <locationX>657</locationX>
        <locationY>265</locationY>
        <assignNextValueToReference>ExistingVolunteer</assignNextValueToReference>
        <collectionReference>collection_Volunteers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_VolAttendance_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_ClassTimes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create New Attendance records from VolunteerClass and ClassTimes Objects</description>
        <name>Create_New_VolAttendance</name>
        <label>Create New VolAttendance</label>
        <locationX>988</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Update_Class_Record</targetReference>
        </connector>
        <inputReference>collection_NewVolAttendance</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Find all Class Time records for the inputted Class_Id</description>
        <name>Find_Class_Times</name>
        <label>Find Class Times</label>
        <locationX>191</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_ClassTimes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <object>Class_Time__c</object>
        <outputReference>collection_ClassTimes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Class__c</queriedFields>
        <queriedFields>Class_Name__c</queriedFields>
        <queriedFields>Class_Start__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Volunteers</name>
        <label>Find Volunteers</label>
        <locationX>189</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Class_Times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <object>Volunteer_Class__c</object>
        <outputReference>collection_Volunteers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Volunteer_Info__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Class__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>get fields from passed in Class ID</description>
        <name>rcd_Class</name>
        <label>rcd_Class</label>
        <locationX>195</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Attendance_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <outputAssignments>
            <assignToReference>var_AttendanceCreated</assignToReference>
            <field>Attendance_Records_Created__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ClassTimeMin</assignToReference>
            <field>Class_Duration_min__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ClassStart</assignToReference>
            <field>Class_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Duration</assignToReference>
            <field>Duration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_EnrolledRiders</assignToReference>
            <field>Enrolled_Riders__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Instructor</assignToReference>
            <field>Instructor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Location</assignToReference>
            <field>Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ClassName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Session</assignToReference>
            <field>Session__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_VolAttendanceCreated</assignToReference>
            <field>Vol_Attendance_Records_Created__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Class_Record</name>
        <label>Update Class Record</label>
        <locationX>989</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Class_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vol_Attendance_Records_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Class__c</object>
    </recordUpdates>
    <screens>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>995</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExitFlow</name>
            <fieldText>Volunteer Attendance Records have been successfully created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_ClassID</name>
        <label>Input_ClassID</label>
        <locationX>138</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>var_ClassID</name>
            <dataType>String</dataType>
            <fieldText>var_ClassID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputAttendanceTrue</name>
        <label>OutputAttendanceTrue</label>
        <locationX>443</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AttendanceTrue</name>
            <fieldText>This Class already has Volunteer Attendance records created for it.  This Flow will not run again. ({!var_VolAttendanceCreated})</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Button</name>
        <label>Test Button</label>
        <locationX>256</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ButtonTest</name>
            <fieldText>Value for var_Class_Id{!var_Class_Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>rcd_Class</startElementReference>
    <status>Active</status>
    <variables>
        <name>collection_ClassTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Time__c</objectType>
    </variables>
    <variables>
        <name>collection_NewVolAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
    <variables>
        <name>collection_Volunteers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Class__c</objectType>
    </variables>
    <variables>
        <name>ExistingVolunteer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Class__c</objectType>
    </variables>
    <variables>
        <name>New_VolAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Attendance__c</objectType>
    </variables>
    <variables>
        <name>sobject_ExistingClassTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Time__c</objectType>
    </variables>
    <variables>
        <name>sobject_ExistingRider</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Time__c</objectType>
    </variables>
    <variables>
        <name>var_AttendanceCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <description>used to capture Class_ID from the Button</description>
        <name>var_Class_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClassName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClassStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClassTimeMin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Duration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_EnrolledRiders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>initial value is set to Duration on Class and is used to control how many Attendance records are created per Rider</description>
        <name>var_FlowDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>var_Duration</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Instructor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NextStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>var_ClassStart</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Session</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VolAttendanceCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <description>used to add weeks to the StartDate</description>
        <name>var_WeekCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
