force-app/main/default/flows/volunteer_registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_to_Contact</name>
        <label>Send Email to Contact</label>
        <locationX>906</locationX>
        <locationY>174</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>beforeemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SendEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1380</locationX>
        <locationY>3081</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailnotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>volunteers@wecanride.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailsubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignMainContact</name>
        <label>AssignMainContact</label>
        <locationX>907</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Mail_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mail_Opt_Out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Opt_Out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Volunteer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>emailforsender</name>
        <label>emailforsender</label>
        <locationX>602</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>SendEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailOriginal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employment_Info</name>
        <label>Employment Info</label>
        <locationX>1333</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Employer_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EmployeerStreet}, {!EmployerCity}, {!EmployerState},  {!EmployerZIP}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Employer_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employerphonenew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VolInfoAssignment</name>
        <label>VolInfoAssignment</label>
        <locationX>1380</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Parent_Guardian_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GuardianName} {!GuardianLast_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!sobjContact.FirstName} {!sobjContact.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Volunteer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.How_did_you_hear_about_us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_you_hear_about_us</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Other_Languages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_other_Languages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.WalkWeight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WalkWeightButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Previous_Horse_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_horse_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Available_Times__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Times</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Day_s_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateVolInfo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>At_Event</name>
        <choiceText>At Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consent</name>
        <choiceText>Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Guardian</name>
        <choiceText>Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Non_Consent</name>
        <choiceText>Non Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Other</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parent</name>
        <choiceText>Parent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>VolunteerMatchingSite</name>
        <choiceText>Volunteer Matching Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Volunteer Matching Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Guardians</name>
        <label>Create Guardians</label>
        <locationX>1185</locationX>
        <locationY>1209</locationY>
        <defaultConnector>
            <targetReference>Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingContact</name>
        <label>ExistingContact</label>
        <locationX>897</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Volunteer_Main_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in DB</defaultConnectorLabel>
        <rules>
            <name>ExistingContactDecYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Minor</name>
        <label>Minor?</label>
        <locationX>899</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>MinorScreenRefusal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Minor</defaultConnectorLabel>
        <rules>
            <name>Adult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_Information</targetReference>
            </connector>
            <label>Adult</label>
        </rules>
        <rules>
            <name>ContactIsMinor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Guardian_Info</targetReference>
            </connector>
            <label>14-18</label>
        </rules>
    </decisions>
    <decisions>
        <name>WalkLiftReq</name>
        <label>WalkLiftReq</label>
        <locationX>1374</locationX>
        <locationY>1359</locationY>
        <defaultConnector>
            <targetReference>VolInfoAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllGood</defaultConnectorLabel>
        <rules>
            <name>SayNoWalkLift</name>
            <conditionLogic>1 AND( 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>WalkWeightButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceNo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SideWalkerButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeaderButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeederButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barn_AideButons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barn_MaintenanceButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WalkLiftGarning</targetReference>
            </connector>
            <label>SayNoWalkLift</label>
        </rules>
    </decisions>
    <description>2024 Version - This simplifies the signup , the volunteer will be sent to the vol coordinator for next steps and eventually be sent to register in the community</description>
    <dynamicChoiceSets>
        <name>Available_Times_Picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Available_Times__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>availableDays</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_s_Available__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickListOtherLanguage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Languages__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Relationship1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relationship2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship_2__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalcAge</name>
        <dataType>Number</dataType>
        <expression>IF( NOT( ISBLANK( {!DOB} ) ) ,
  IF( DATE( 2000 , MONTH( {!DOB} ) , DAY( {!DOB} ) ) &lt;= DATE( 2000 , MONTH( TODAY() ) , DAY( TODAY() ) ),
     YEAR (Today()) - YEAR ( {!DOB} ),
     YEAR (Today()) - YEAR ( {!DOB} ) -1 ),
  null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>volunteer registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>volunteer registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1193</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>Create_Guardians</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Existing_VolInfo</targetReference>
        </faultConnector>
        <inputReference>sobjContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Guardian</name>
        <label>Create Guardian</label>
        <locationX>911</locationX>
        <locationY>1360</locationY>
        <connector>
            <targetReference>create_relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Skills</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Guardianemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GuardianName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GuardianLast_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>GuardianNewPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_relationship</name>
        <label>create relationship</label>
        <locationX>1069</locationX>
        <locationY>1360</locationY>
        <connector>
            <targetReference>Skills</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Skills</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>Create_Guardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>sobjContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>RelationshipPickList</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateVolInfo</name>
        <label>CreateVolInfo</label>
        <locationX>1380</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>GetVolInfo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Existing_VolInfo</targetReference>
        </faultConnector>
        <inputReference>sobjectVolInfo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateVolunteerWaiver</name>
        <label>CreateVolunteerWaiver</label>
        <locationX>1381</locationX>
        <locationY>2811</locationY>
        <connector>
            <targetReference>All_completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Existing_VolInfo</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Signed_Dated__c</field>
            <value>
                <elementReference>WaiverDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>WaiverFull_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>GetVolInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetWaiver.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateWaiverNewReg</name>
        <label>CreateWaiverNewReg</label>
        <locationX>1381</locationX>
        <locationY>2672</locationY>
        <connector>
            <targetReference>CreateVolunteerWaiver</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Existing_VolInfo</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Barn_Aide__c</field>
            <value>
                <elementReference>Barn_AideButons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Barn_Maintenance__c</field>
            <value>
                <elementReference>Barn_MaintenanceButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feeder__c</field>
            <value>
                <elementReference>FeederButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_at_Events__c</field>
            <value>
                <elementReference>Help_at_EventsButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_in_Office__c</field>
            <value>
                <elementReference>Help_in_OfficeButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_on_Event_Committees__c</field>
            <value>
                <elementReference>Help_on_Event_CommitteesButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leader__c</field>
            <value>
                <elementReference>LeaderButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeVol_New_Registration_Volunteer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sidewalker__c</field>
            <value>
                <elementReference>SideWalkerButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>GetVolInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>waiver__c</field>
            <value>
                <elementReference>GetNewRegWaiverTemplate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VolunteerWaiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Contact</name>
        <label>Find Existing Contact</label>
        <locationX>745</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailOriginal</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sobjContact</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>911</locationX>
        <locationY>1210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Guardian</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentYear</name>
        <label>GetCurrentYear</label>
        <locationX>1381</locationX>
        <locationY>1887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeVol_New_Registration_Volunteer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current_Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WaiverYear__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewRegWaiverTemplate</name>
        <label>GetNewRegWaiverTemplate</label>
        <locationX>1383</locationX>
        <locationY>2142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType_VolunteerWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewRegistrationVol</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType_VolunteerWaiver</name>
        <label>GetRecordType_VolunteerWaiver</label>
        <locationX>1381</locationX>
        <locationY>2272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VolunteerWaiver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeVol_New_Registration_Volunteer</name>
        <label>GetRecordTypeVol_New_Registration_Volunteer</label>
        <locationX>1383</locationX>
        <locationY>2004</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNewRegWaiverTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Registration_Volunteer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVolInfo</name>
        <label>GetVolInfo</label>
        <locationX>1381</locationX>
        <locationY>1773</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjectVolInfo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiver</name>
        <label>GetWaiver</label>
        <locationX>1381</locationX>
        <locationY>2413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assumption_of_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClientWaiver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentYear.Current_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_completed</name>
        <label>All completed</label>
        <locationX>1380</locationX>
        <locationY>2946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <fields>
            <name>CompletedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Thank you for completing your We Can Ride Volunteer application!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assumption_of_Risk</name>
        <label>Release and Waiver of Liability</label>
        <locationX>1383</locationX>
        <locationY>2536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWaiverNewReg</targetReference>
        </connector>
        <fields>
            <name>AssumptionofRiskTXT</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;{!GetWaiver.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoverningLawTXT</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;BY SIGNING THIS RELEASE, I EXPRESSLY STATE THAT I HAVE READ AND UNDERSTAND ITS TERMS AND THAT I HAVE GIVEN UP SUBSTANTIAL RIGHTS AND THAT I INDICATE MY INTENT TO ENTER INTO THIS RELEASE KNOWINGLY AND VOLUNTARILY.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;IF SIGNING AS PARENT/GUARDIAN, BY SIGNING THIS RELEASE, I CERTIFY THAT I AM THE PARENT OR LEGAL GUARDIAN OF THE PARTICIPANT, THAT I HAVE LEGAL AUTHORITY OVER PARTICIPANT, THAT I HAVE READ AND UNDERSTAND THE TERMS OF THIS RELEASE, AND THAT I FREELY SIGN THIS RELEASE AND WILL ABIDE BY ITS TERMS FOR MYSELF AND ON BEHALF OF THE PARTICIPANT. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assumption_of_Risk_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assumption_of_Risk_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assumption_of_Risk_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WaiverFull_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signature</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WaiverDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assumption_of_Risk_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <pausedText>Want to comeback later?</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>beforeemail</name>
        <label>beforeemail</label>
        <locationX>912</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispTextBeforeEmail</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Your email address is currently on file, we have sent you an email to &lt;/strong&gt;({!SendEmailAddress}).&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt; If you have not completed your onboarding contact angelm@wecanride.org&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employment_Information</name>
        <label>Employment Information</label>
        <locationX>1193</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Info</targetReference>
        </connector>
        <fields>
            <name>EmployerInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;EMPLOYMENT INFORMATION&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This helps us with grants and tracking employer-matching gift programs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employer</name>
            <dataType>String</dataType>
            <fieldText>Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>N_A</name>
            <dataType>Boolean</dataType>
            <fieldText>N/A</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>(retired, student)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmployeerStreet</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerCity</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerState</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerZIP</name>
            <dataType>String</dataType>
            <fieldText>ZIP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Only enter 5 numbers</errorMessage>
                <formulaExpression>REGEX({!EmployerZIP}, &quot;\\d{5}(-\\d{4})?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Employerphonenew</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_VolInfo</name>
        <label>Existing VolInfo</label>
        <locationX>864</locationX>
        <locationY>2163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Existing_VolInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_VolInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_VolInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error</name>
                    <fieldText>&lt;p&gt;There is an error with your registration, please contact angelm@wecanride.com to complete your registration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;VolInfo Error&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_VolInfo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MinorScreenRefusal</name>
        <label>Minor</label>
        <locationX>663</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MinorNotice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for being so interested. Unfortunately, you must be at least 14 to volunteer with We Can Ride.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parent_Guardian_Info</name>
        <label>Parent/Guardian Information</label>
        <locationX>1195</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Information</targetReference>
        </connector>
        <fields>
            <name>ParentGuardianInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Anyone between 14-18 will need to enter a Parent or Guardian information.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GuardianName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GuardianLast_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelationshipPickList</name>
            <choiceReferences>Guardian</choiceReferences>
            <choiceReferences>Parent</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GuardianNewPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Guardianemail</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please type a valid email address.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Skills</name>
        <label>Skills/Abilities/</label>
        <locationX>1193</locationX>
        <locationY>1360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WalkLiftReq</targetReference>
        </connector>
        <fields>
            <name>SkillsText</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Skills/Abilities/&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Skills_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Skills_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SkillSec1</name>
                    <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Other Languages&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_other_Languages</name>
                    <choiceReferences>PickListOtherLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select other Languages</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SkillsSec2</name>
                    <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;B&gt;Abilities&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Volunteering in class with We Can Ride can sometimes be very physically and emotionally demanding.  &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>WalkWeightButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Can you walk for 60 minutes without fatiguing; jog for a short distance; &amp; hold your arm above shoulder height?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Available_Times</name>
                    <choiceReferences>Available_Times_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Available Times</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Available_Days</name>
                    <choiceReferences>availableDays</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Available Days</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Skills_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SkillSec3</name>
                    <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;B&gt;Interests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Note: We will contact you about training prior to starting. Also, you must participate in at least one session as a sidewalker before becoming a leader or barn aide.&lt;/DIV&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SideWalkerButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sidewalker</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LeaderButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Leader</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Barn_AideButons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Barn Aide</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Barn_MaintenanceButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Barn Maintenance</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeederButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Feeder</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_on_Event_CommitteesButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help on Event Committees</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_at_EventsButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help at Events</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_in_OfficeButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help in Office</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SkillsSec4</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;&lt;strong&gt;Sidewalkers-&lt;/strong&gt;&lt;/strong&gt; work with the client by walking alongside the horse during class. They help the client understand the instructor&amp;rsquo;s directions, achieve balance, independence, and reach personal goals.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Feeder-&lt;/strong&gt;&amp;nbsp;Help feed our herd one day a week. Feeders get trained by the Barn Manager and are placed with 1-2 other feeders.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Leader-&lt;/strong&gt;&amp;nbsp;Lead the horse in lessons making sure the horse is safe &amp;amp; well behaved. Arrive at least 20 minutes early to warm up the horse. Attend and successfully pass leader training to become a leader.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Barn Aide-&lt;/strong&gt;&amp;nbsp;Catch, groom, tack, untack and release the horses after lessons. Arrive at least an hour early to get horses ready. Must already be trained as a leader and been a leader in one session. Attend and successfully pass barn aide training. You will then shadow the barn aides on the day you volunteer for one session for more training.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Events, Office Tasks, Committees-&amp;nbsp;&lt;/strong&gt;No training needed to help.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Main_Info</name>
        <label>We Can Ride New Volunteer Registration</label>
        <locationX>903</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignMainContact</targetReference>
        </connector>
        <fields>
            <name>Volunteer_Main_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>You can only type names with less than 40 characters</errorMessage>
                        <formulaExpression>Len({!Name}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DOB</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SendEmailAddress</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>Please type an email</errorMessage>
                        <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Phone_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cellphone</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cell Phone?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Home_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Home Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mail_Opt_Out</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mail Opt Out</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email_Opt_Out</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Email Opt Out</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>noteScreen1</name>
                    <fieldText>Note: You will still receive volunteer updates and correspondence by email.</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>MN</stringValue>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Zip</name>
                    <dataType>String</dataType>
                    <fieldText>ZIP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>Only enter 5 numbers</errorMessage>
                        <formulaExpression>REGEX({!Zip}, &quot;\\d{5}(-\\d{4})?&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>How_did_you_hear_about_us</name>
                    <choiceReferences>Website</choiceReferences>
                    <choiceReferences>At_Event</choiceReferences>
                    <choiceReferences>VolunteerMatchingSite</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>How did you hear about us?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_horse_experience</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have previous horse experience?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WalkLiftGarning</name>
        <label>Abilities for Class and Feeding</label>
        <locationX>1707</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>walkliftwarningText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You seem to be unable to meet one of the minimum requirements to volunteer in class or feed.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;However, we would welcome you volunteering in other ways (office, events). If you&apos;d like to do these, please click Previous to edit your entry. Or click Finish to cancel your registration.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Back</name>
        <label>Welcome Back</label>
        <locationX>468</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>emailforsender</targetReference>
        </connector>
        <fields>
            <name>WelcomeMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Welcome! Please complete the online registration to Volunteer with We Can Ride.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Back_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Welcome_Back_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Welcome_Back_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailOriginal</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Welcome_Back_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>110</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Welcome_Back</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;You have a volunteer record with We Can Ride. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you have not completed your initial training, please contact &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(94, 94, 94);&quot;&gt;angelm@wecanride.org for the next steps.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://wecanride--partial.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068Rt000000pBvu?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;wcr-trans-lg small.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Liberation Sans&amp;quot;, sans-serif; color: rgb(35, 38, 41);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailnotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Be advised that there is a new volunteer form completed on line&lt;/p&gt;&lt;p&gt;to see details go to&lt;/p&gt;&lt;p&gt;https://wecanride.my.salesforce.com/{!sobjContact.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New volunteer form</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Continue with your yearly registration&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SendEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobjectVolInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Info__c</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
