force-app/main/default/flows/volunteer_registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_to_Volunteer</name>
        <label>Email to Volunteer</label>
        <locationX>851</locationX>
        <locationY>220</locationY>
        <actionName>Contact.Volunteer_Returning_paperwork</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>beforeemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sobjContact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1177</locationX>
        <locationY>2075</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailnotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>volunteers@wecanride.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailsubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignMainContact</name>
        <label>AssignMainContact</label>
        <locationX>907</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Mail_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mail_Opt_Out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Opt_Out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Volunteer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>emailforsender</name>
        <label>emailforsender</label>
        <locationX>606</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>SendEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailOriginal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employment_Info</name>
        <label>Employment Info</label>
        <locationX>1503</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Employer_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EmployeerStreet}, {!EmployerCity}, {!EmployerState},  {!EmployerZIP}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact.Employer_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employerphonenew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Releases</name>
        <label>Releases</label>
        <locationX>1534</locationX>
        <locationY>1887</locationY>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Confidentiality_Release_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfReleaseAgree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Confidentiality_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfReleaseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Photo_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgreePhoto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Photo_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhotoReleaseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Emergency_Contact_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyContact1RelationBIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Emergency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Em1Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Emergency_Contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyContact2Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Emergency_Contact_Relationship_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyContact2RelationBIS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Consent_to_Medical_Treatment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedicalConsentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.ConsentSIgnatureRelationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PARENTGUARDIANSELFConcent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Liablility_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WaiverDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Waiver_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WaiverFull_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Emergency_Contact_2_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EM2phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Emergency_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyContact1Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateVolInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VolInfoAssignment</name>
        <label>VolInfoAssignment</label>
        <locationX>1625</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Parent_Guardian_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GuardianName} {!GuardianLast_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!sobjContact.FirstName} {!sobjContact.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Volunteer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.How_did_you_hear_about_us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_you_hear_about_us</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Other_Languages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_other_Languages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Sidewalker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SideWalkerButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Barn_Aid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barn_AideButons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.WalkWeight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WalkWeightButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Horse_Leader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeaderButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Barn_Maintenance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barn_MaintenanceButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Feeder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeederButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Help_on_Event_Committees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Help_on_Event_CommitteesButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Help_at_Events__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Help_at_EventsButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Help_in_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Help_in_OfficeButtons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Parent_Guardian_CC_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuardianEmailCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Parent_Guardian_Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelationshipPickList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Parent_Guardian_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Guardianemail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Parent_Guardian_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuardianNewPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Previous_Horse_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_horse_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Available_Times__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Times</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjectVolInfo.Day_s_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CONFIDENTIALITY_RELEASE</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>At_Event</name>
        <choiceText>At Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consent</name>
        <choiceText>Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Guardian</name>
        <choiceText>Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Non_Consent</name>
        <choiceText>Non Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Other</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parent</name>
        <choiceText>Parent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>VolunteerMatchingSite</name>
        <choiceText>Volunteer Matching Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Volunteer Matching Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>ExistingContact</name>
        <label>ExistingContact</label>
        <locationX>897</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Volunteer_Main_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in DB</defaultConnectorLabel>
        <rules>
            <name>ExistingContactDecYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Volunteer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GuradianEmailValidation</name>
        <label>GuradianEmailValidation</label>
        <locationX>1337</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>Employment_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allgood</defaultConnectorLabel>
        <rules>
            <name>YesonCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GuardianEmailCC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Guardianemail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnterGuardianEmail</targetReference>
            </connector>
            <label>YesonCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Minor</name>
        <label>Minor?</label>
        <locationX>899</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>MinorScreenRefusal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Minor</defaultConnectorLabel>
        <rules>
            <name>Adult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_Information</targetReference>
            </connector>
            <label>Adult</label>
        </rules>
        <rules>
            <name>ContactIsMinor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalcAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Guardian_Info</targetReference>
            </connector>
            <label>14-18</label>
        </rules>
    </decisions>
    <decisions>
        <name>WalkLiftReq</name>
        <label>WalkLiftReq</label>
        <locationX>1432</locationX>
        <locationY>1312</locationY>
        <defaultConnector>
            <targetReference>VolInfoAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllGood</defaultConnectorLabel>
        <rules>
            <name>SayNoWalkLift</name>
            <conditionLogic>1 AND( 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>WalkWeightButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceNo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SideWalkerButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeaderButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FeederButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barn_AideButons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Barn_MaintenanceButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WalkLiftGarning</targetReference>
            </connector>
            <label>SayNoWalkLift</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Available_Times_Picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Available_Times__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>availableDays</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_s_Available__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickListOtherLanguage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Languages__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Relationship1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relationship2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship_2__c</picklistField>
        <picklistObject>Volunteer_Info__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalcAge</name>
        <dataType>Number</dataType>
        <expression>IF( NOT( ISBLANK( {!DOB} ) ) ,
  IF( DATE( 2000 , MONTH( {!DOB} ) , DAY( {!DOB} ) ) &lt;= DATE( 2000 , MONTH( TODAY() ) , DAY( TODAY() ) ),
     YEAR (Today()) - YEAR ( {!DOB} ),
     YEAR (Today()) - YEAR ( {!DOB} ) -1 ),
  null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>volunteer registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>volunteer registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1193</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>Skills</targetReference>
        </connector>
        <inputReference>sobjContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateVolInfo</name>
        <label>CreateVolInfo</label>
        <locationX>1532</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>All_completed</targetReference>
        </connector>
        <inputReference>sobjectVolInfo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Contact</name>
        <label>Find Existing Contact</label>
        <locationX>745</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailOriginal</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sobjContact</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_completed</name>
        <label>All completed</label>
        <locationX>1334</locationX>
        <locationY>2080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <fields>
            <name>CompletedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Thank you for completing your We Can Ride Volunteer application!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assumption_of_Risk</name>
        <label>2019 Release and Waiver of Liability</label>
        <locationX>1196</locationX>
        <locationY>1889</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Releases</targetReference>
        </connector>
        <fields>
            <name>AssumptionofRiskTXT</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b&gt;2021 Release and Waiver of Liability&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;The undersigned Participant (the “Participant” or I) desires to participate in the activities with We Can Ride, Inc., a Minnesota non-profit corporation, including without limitation, being on the property owned or used by We Can Ride, Inc. and engaging with or being near horses (the “ Activities”). In consideration of being allowed to participate in the Activities, Participant hereby agrees, on behalf of Participant, and Participant’s personal representatives, assigns, heirs, next of kin, and any other successors-in-interest who are bound by the terms of this Release, as follows:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b&gt;ACCEPTANCE OF RISK. I UNDERSTAND THAT EQUINE ACTIVITIES, INCLUDING WITHOUT LIMITATION, RIDING, HANDLING, AND BEING NEAR HORSES, AND BEING ON THE PROPERTY OF WE CAN RIDE, INC. HAVE MANY DANGERS AND RISKS AND CAN RESULT IN PERSONAL INJURY, DEATH AND/OR PROPERTY DAMAGE. &lt;/b&gt; I desire to be a part of the Activities and understand and accept that participating in the Activities may entail risks to myself, to others, and to property, and that my participation in the Activities is at my own risk.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;Under Minnesota Law, We Can Ride, Inc. is not liable for personal injury, death or property damage resulting from the inherent risks of equine activities. Pursuant to Minn. Stat. § 604.055, nothing in this Agreement purports or intends to waive liability for damages injuries, or death resulting from conduct that constitutes greater than ordinary negligence.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b&gt;RELEASE AND INDEMNITY&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;I agree to release, hold harmless and indemnify We Can Ride, Inc., its owners, agents, employees, officers, directors, representatives, therapists, volunteers, assigns, members, owners of premises and trails, affiliated organizations, insurers, and others acting on its behalf (“Representatives”), from any and all present or future claims, losses, liabilities, costs and expenses of whatever kind or nature, including attorneys’ fees (Liability), whether in law or equity, arising from the Activities, including, without limitation, We Can Ride Inc.’s alleged failure to comply with applicable laws and regulations or any liability for personal injury, death or property damage which results from the ordinary negligence of We Can Ride, Inc. or its Representatives.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b&gt; IN NO EVENT SHALL WE CAN RIDE, INC. HAVE ANY LIABILITY FOR CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES, WHETHER BASED IN TORT OR CONTRACT, OR WHETHER WE CAN RIDE, INC. KNEW OR SHOULD HAVE KNOWN THE LIKELIHOOD OF SUCH DAMAGES. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b&gt;OTHER&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;We Can Ride, Inc. does not assume any responsibility to provide Participant with financial or other assistance, including, but not limited to, medical insurance, health insurance, or disability benefits (other than as may be specified in a written employment agreement). We Can Ride, Inc. shall not be liable for the loss of, theft of, or damages to any personal property of Participant. This Release shall be governed by and construed in accordance with the laws of the State of Minnesota and is intended to be as broad and inclusive as permitted by law. If any of the provisions of this Release is held invalid, illegal or unenforceable, the validity, legality or enforceability of the remaining provisions shall not be affected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoverningLawTXT</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;BY SIGNING THIS RELEASE, I EXPRESSLY STATE THAT I HAVE READ AND UNDERSTAND ITS TERMS AND THAT I HAVE GIVEN UP SUBSTANTIAL RIGHTS AND THAT I INDICATE MY INTENT TO ENTER INTO THIS RELEASE KNOWINGLY AND VOLUNTARILY.&lt;/strong&gt;&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&amp;nbsp;&lt;/div&gt;

&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;IF SIGNING AS PARENT/GUARDIAN, BY SIGNING THIS RELEASE, I CERTIFY THAT I AM THE PARENT OR LEGAL GUARDIAN OF THE PARTICIPANT, THAT I HAVE LEGAL AUTHORITY OVER PARTICIPANT, THAT I HAVE READ AND UNDERSTAND THE TERMS OF THIS RELEASE, AND THAT I FREELY SIGN THIS RELEASE AND WILL ABIDE BY ITS TERMS FOR MYSELF AND ON BEHALF OF THE PARTICIPANT. &lt;/strong&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assumption_of_Risk_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assumption_of_Risk_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assumption_of_Risk_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WaiverFull_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signature</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WaiverDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assumption_of_Risk_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <pausedText>Want to comeback later?</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>beforeemail</name>
        <label>beforeemail</label>
        <locationX>912</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispTextBeforeEmail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Your email address is currently on file, we have sent you an email to &lt;/b&gt;({!SendEmailAddress}) &lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;please click on the link in your inbox.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CONFIDENTIALITY_RELEASE</name>
        <label>ACKNOWLEDGEMENT OF HANDBOOK AND CONFIDENTIALITY POLICY</label>
        <locationX>1197</locationX>
        <locationY>1469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PHOTO_RELEASE</targetReference>
        </connector>
        <fields>
            <name>CONFIDENTIALITYRELEASEText</name>
            <fieldText>I have received a current copy of the We Can Ride, Inc. Volunteer Handbook that contains volunteer policies and procedures, including, without limitation, the Confidentiality Policy. I acknowledge that I have read the Volunteer Handbook and understand that I am responsible for acting in accordance with the policies and procedures of We Can Ride, Inc.
We Can Ride, Inc. retains the right to modify, amend, or change policies and procedures in the Volunteer Handbook at any time. Volunteers will be notified in advance of any changes.
The Handbook can we found on www.wecanride.org under Volunteer information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CONFIDENTIALITY_RELEASE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CONFIDENTIALITY_RELEASE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CONFIDENTIALITY_RELEASE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfReleaseDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>You can&apos;t enter dates in the future</errorMessage>
                        <formulaExpression> {!ConfReleaseDate} &lt;= TODAY ()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ConfReleaseAgree</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Agree</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>You need to agree before continuing</errorMessage>
                        <formulaExpression>{!ConfReleaseAgree}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CONFIDENTIALITY_RELEASE_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emergency_Medical_Treatment</name>
        <label>Emergencies</label>
        <locationX>1196</locationX>
        <locationY>1747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assumption_of_Risk</targetReference>
        </connector>
        <fields>
            <name>EmergencyMedicalTreatmentTXT</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;B&gt;Emergencies &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;CENTER&quot;&gt;In case of an emergency, this would go with you to the hospital.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmergencyContact</name>
            <fieldText>Please list two people who may be contacted in case of emergency:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Em1</name>
            <fieldText>First Emergency Contact</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmergencyContact1Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmergencyContact1RelationBIS</name>
            <choiceReferences>Relationship1</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Em1Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EM2</name>
            <fieldText>Second Emergency Contact</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmergencyContact2Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmergencyContact2RelationBIS</name>
            <choiceReferences>relationship2</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EM2phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConsenttoMedicalTreatmentTXT</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;
  &lt;B&gt;Acknowledgement and Consent&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;I acknowledge and consent that We Can Ride, Inc. can take reasonable steps to seek medical care and transportation for me if necessary. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emergency_Medical_Treatment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Emergency_Medical_Treatment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Emergency_Medical_Treatment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MedicalConsentDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Medical_Consent</name>
                    <choiceReferences>None</choiceReferences>
                    <choiceReferences>Consent</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Consent</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PARENTGUARDIANSELFConcent</name>
                    <choiceReferences>Parent</choiceReferences>
                    <choiceReferences>Guardian</choiceReferences>
                    <choiceReferences>Self</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Emergency_Medical_Treatment_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employment_Information</name>
        <label>Employment Information</label>
        <locationX>1193</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Info</targetReference>
        </connector>
        <fields>
            <name>EmployerInfo</name>
            <fieldText>&lt;div align=&quot;CENTER&quot;&gt;&lt;strong&gt;EMPLOYMENT INFORMATION&lt;/strong&gt;&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;This helps us with grants and tracking employer matching gift programs.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employer</name>
            <dataType>String</dataType>
            <fieldText>Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>N_A</name>
            <dataType>Boolean</dataType>
            <fieldText>N/A</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>(retired, student)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmployeerStreet</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerCity</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerState</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmployerZIP</name>
            <dataType>String</dataType>
            <fieldText>ZIP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Only enter 5 numbers</errorMessage>
                <formulaExpression>REGEX({!EmployerZIP}, &quot;\\d{5}(-\\d{4})?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Employerphonenew</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnterGuardianEmail</name>
        <label>EnterGuardianEmail</label>
        <locationX>1534</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parent_Guardian_Info</targetReference>
        </connector>
        <fields>
            <name>textdisplayguardianemail</name>
            <fieldText>Please enter an email address if you desire to be copied on communications</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MinorScreenRefusal</name>
        <label>Minor</label>
        <locationX>663</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MinorNotice</name>
            <fieldText>Thank you for your interest. Unfortunately, you must be at least 14 to volunteer with We Can Ride.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Guardian_Info</name>
        <label>Parent/Guardian Information</label>
        <locationX>1187</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GuradianEmailValidation</targetReference>
        </connector>
        <fields>
            <name>ParentGuardianInfo</name>
            <fieldText>Anyone between 14-18 will need to enter a Parent or Guardian information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GuardianName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GuardianLast_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelationshipPickList</name>
            <choiceReferences>Guardian</choiceReferences>
            <choiceReferences>Parent</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GuardianNewPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Guardianemail</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please type a valid email address.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>GuardianEmailCC</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>I WISH TO BE COPIED ON EMAIL</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PHOTO_RELEASE</name>
        <label>PHOTO RELEASE</label>
        <locationX>1197</locationX>
        <locationY>1604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Emergency_Medical_Treatment</targetReference>
        </connector>
        <fields>
            <name>PhotoReleaseHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;
&lt;B&gt;PHOTO RELEASE&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PHOTO_RELEASE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PHOTO_RELEASE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PHOTO_RELEASE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AgreePhoto</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I Do</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>You have to select at least one option, but not both</errorMessage>
                        <formulaExpression>OR(
       AND(
                 {!AgreePhoto},
                 ({!Do_Not_Agree}=False)
                  ),
       AND(
                 {!Do_Not_Agree},
                 ({!AgreePhoto}=False)
                  )
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Do_Not_Agree</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I Do Not</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PHOTO_RELEASE_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PHOTORELEASETxt</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;
  consent to and grant my permission for We Can Ride, Inc. to use Volunteer’s and my photograph and to publicly distribute any and all photographs of myself or others for whom I am authorized to give consent, including the use of audio/visual materials for promotion, education, organized events, marketing, websites and social media, and exhibition or any other use to benefit We Can Ride.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PHOTO_RELEASE_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PHOTO_RELEASE_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PHOTO_RELEASE_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhotoReleaseDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>You can&apos;t enter dates in the future</errorMessage>
                        <formulaExpression>{!PhotoReleaseDate}&lt;= TODAY ()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PHOTO_RELEASE_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Guardian_text</name>
            <fieldText>Parent/Guardian must &quot;Consent&quot; if Volunteer is under 18</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Skills</name>
        <label>Skills/Abilities/</label>
        <locationX>1194</locationX>
        <locationY>1199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WalkLiftReq</targetReference>
        </connector>
        <fields>
            <name>SkillsText</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Skills/Abilities/&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Skills_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Skills_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SkillSec1</name>
                    <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Other Languages&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_other_Languages</name>
                    <choiceReferences>PickListOtherLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select other Languages</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SkillsSec2</name>
                    <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;B&gt;Abilities&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Volunteering in class with We Can Ride can sometimes be very physically and emotionally demanding.  &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>WalkWeightButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Can you walk for 60 minutes without fatiguing; jog for a short distance; &amp; hold your arm above shoulder height?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Available_Times</name>
                    <choiceReferences>Available_Times_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Available Times</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Available_Days</name>
                    <choiceReferences>availableDays</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Available Days</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Skills_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SkillSec3</name>
                    <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;B&gt;Interests&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;Note: We will contact you about training prior to starting. Also, you must participate in at least one session as a sidewalker before becoming a leader or barn aide.&lt;/DIV&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SideWalkerButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sidewalker</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LeaderButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Leader</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Barn_AideButons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Barn Aide</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Barn_MaintenanceButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Barn Maintenance</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeederButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Feeder</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_on_Event_CommitteesButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help on Event Committees</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_at_EventsButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help at Events</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Help_in_OfficeButtons</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Help in Office</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SkillsSec4</name>
            <fieldText>&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;&lt;strong&gt;Sidewalkers-&lt;/strong&gt;&lt;/strong&gt; work with the client by walking alongside the horse during class. They help the client understand the instructor&amp;rsquo;s directions, achieve balance, independence, and reach personal goals.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Feeder-&lt;/strong&gt;&amp;nbsp;Help feed our herd one day a week. Feeders get trained by the Barn Manager and are placed with 1-2 other feeders.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Leader-&lt;/strong&gt;&amp;nbsp;Lead the horse in lessons making sure the horse is safe &amp;amp; well behaved. Arrive at least 20 minutes early to warm up the horse. Attend and successfully pass leader training to become a leader.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Barn Aide-&lt;/strong&gt;&amp;nbsp;Catch, groom, tack, untack and release the horses after lessons. Arrive at least an hour early to get horses ready. Must already be trained as a leader and been a leader in one session. Attend and successfully pass barn aide training. You will then shadow the barn aides on the day you volunteer for one session for more training.&lt;/div&gt;
&lt;div align=&quot;LEFT&quot;&gt;&lt;strong&gt;Events, Office Tasks, Committees-&amp;nbsp;&lt;/strong&gt;No training needed to help.&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Main_Info</name>
        <label>We Can Ride New Volunteer Registration</label>
        <locationX>903</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignMainContact</targetReference>
        </connector>
        <fields>
            <name>Volunteer_Main_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>You can only type names with less than 40 characters</errorMessage>
                        <formulaExpression>Len({!Name}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DOB</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SendEmailAddress</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>Please type an email</errorMessage>
                        <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Phone_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cellphone</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cell Phone?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Home_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Home Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mail_Opt_Out</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mail Opt Out</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email_Opt_Out</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Email Opt Out</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>noteScreen1</name>
                    <fieldText>Note: You will still receive volunteer updates and correspondence by email.</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>MN</stringValue>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Zip</name>
                    <dataType>String</dataType>
                    <fieldText>ZIP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>Only enter 5 numbers</errorMessage>
                        <formulaExpression>REGEX({!Zip}, &quot;\\d{5}(-\\d{4})?&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>How_did_you_hear_about_us</name>
                    <choiceReferences>Website</choiceReferences>
                    <choiceReferences>At_Event</choiceReferences>
                    <choiceReferences>VolunteerMatchingSite</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>How did you hear about us?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_horse_experience</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have previous horse experience?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Main_Info_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WalkLiftGarning</name>
        <label>Abilities for Class and Feeding</label>
        <locationX>1707</locationX>
        <locationY>1200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>walkliftwarningText</name>
            <fieldText>You have indicated you cannot meet one of the minimum requirements to volunteer in class or feed.
However, we would welcome you volunteering in other ways (office, events). If you wish to do these, please click Previous to edit your entry. Or click Finish to cancel your registration.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Back</name>
        <label>Welcome Back</label>
        <locationX>468</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>emailforsender</targetReference>
        </connector>
        <fields>
            <name>WelcomeMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Welcome! Please complete the online registration to Volunteer with We Can Ride.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Back_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Welcome_Back_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Welcome_Back_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailOriginal</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Welcome_Back_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Welcome_Back</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have a volunteer record with We Can Ride. Please click on the following link to update your record details. Thank you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://wecanride.force.com/forms/s/contact?Id={!sobjContact.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The We Can Ride Volunteer Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(35, 38, 41); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Liberation Sans&amp;quot;, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailnotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Be advised that there is a new volunteer form completed on line&lt;/p&gt;&lt;p&gt;to see details go to&lt;/p&gt;&lt;p&gt;https://wecanride.my.salesforce.com/{!sobjContact.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New volunteer form</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Continue with your yearly registration&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SendEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobjectVolInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Info__c</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>volinfoRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
