force-app/main/default/flows/Volunteering_Schedule_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Requested</name>
        <label>Assign Requested</label>
        <locationX>2360</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varWaitListStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_class_registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wait_List</name>
        <label>Assign Wait List</label>
        <locationX>2096</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varWaitListStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waitlist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_class_registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBarnaid</name>
        <label>AssignBarnaid</label>
        <locationX>2074</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varRoleRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Barn Aid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingReg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeader</name>
        <label>AssignLeader</label>
        <locationX>1810</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varRoleRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leader</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingReg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>2250</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Classes_Available</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentFall_0</name>
        <label>AssignmentFall</label>
        <locationX>1458</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Results_Fall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSpring_0</name>
        <label>AssignmentSpring</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Spring_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSummer_0</name>
        <label>AssignmentSummer</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Summer_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentWinter_0</name>
        <label>AssignmentWinter</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClassWithSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Winter_Classes_Available_Vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSidewalker</name>
        <label>AssignSidewalker</label>
        <locationX>1546</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varRoleRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sidewalker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingReg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSub</name>
        <label>AssignSub</label>
        <locationX>2338</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varRoleRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingReg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection</name>
        <label>Create Collection</label>
        <locationX>2228</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>colVolSelectedClasses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCurrentClass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Classes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BarnAidChoice</name>
        <choiceText>Barn Aid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barnaid</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeaderChoice</name>
        <choiceText>Leader</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leader</stringValue>
        </value>
    </choices>
    <choices>
        <name>SidewalkerChoice</name>
        <choiceText>Sidewalker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sidewalker</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Results_Fall</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Results (Fall)</label>
        <locationX>1458</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Results_Winter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Fall_Classes_Available_Vol</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>AssignmentFall_0</targetReference>
        </connector>
        <formula>OR (
        AND ({!currentItem_Filter_Results_Winter_0.Leader_needed__c} &gt; 0 , {!Leader} = 1  ),
        AND ({!currentItem_Filter_Results_Winter_0.Sidewalkers_Needed__c} &gt; 0 , {!Sidewalker} =1),
        AND ({!currentItem_Filter_Results_Winter_0.Barn_Aid_Needed__c} &gt; 0, {!BarnAide} =1)
        )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Results_Spring</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Results (Spring)</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Results_Spring_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Spring_Classes_Available_Vol</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>AssignmentSpring_0</targetReference>
        </connector>
        <formula>OR (
        AND ({!currentItem_Filter_Results_Spring_0.Leader_needed__c} &gt; 0 , {!Leader} = 1  ),
        AND ({!currentItem_Filter_Results_Spring_0.Sidewalkers_Needed__c} &gt; 0 , {!Sidewalker} =1),
        AND ({!currentItem_Filter_Results_Spring_0.Barn_Aid_Needed__c} &gt; 0, {!BarnAide} =1)
        )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Results_Summer</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Results (Summer)</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Results_Spring_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Summer_Classes_Available_Vol</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>AssignmentSummer_0</targetReference>
        </connector>
        <formula>OR (
        AND ({!currentItem_Filter_Results_Spring_0.Leader_needed__c} &gt; 0 , {!Leader} = 1  ),
        AND ({!currentItem_Filter_Results_Spring_0.Sidewalkers_Needed__c} &gt; 0 , {!Sidewalker} =1),
        AND ({!currentItem_Filter_Results_Spring_0.Barn_Aid_Needed__c} &gt; 0, {!BarnAide} =1)
        )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Results_Winter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Results (Winter)</label>
        <locationX>1722</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Results_Winter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Winter_Classes_Available_Vol</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>AssignmentWinter_0</targetReference>
        </connector>
        <formula>OR (
        AND ({!currentItem_Filter_Results_Winter_0.Leader_needed__c} &gt; 0 , {!Leader} = 1  ),
        AND ({!currentItem_Filter_Results_Winter_0.Sidewalkers_Needed__c} &gt; 0 , {!Sidewalker} =1),
        AND ({!currentItem_Filter_Results_Winter_0.Barn_Aid_Needed__c} &gt; 0, {!BarnAide} =1)
        )</formula>
    </collectionProcessors>
    <decisions>
        <name>Classes_Selected</name>
        <label>Classes Selected</label>
        <locationX>1590</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Main</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClassSelComp.outputSelectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Classes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingReg</name>
        <label>ExistingReg</label>
        <locationX>2074</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>WaitList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Reg.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Classes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session</name>
        <label>Session</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Classes_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Spring_Classes_Available_Vol</targetReference>
            </connector>
            <label>Spring</label>
        </rules>
        <rules>
            <name>Summer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Summer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Summer_Classes_Available_Vol</targetReference>
            </connector>
            <label>Summer</label>
        </rules>
        <rules>
            <name>Fall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fall_Classes_Available_Vol</targetReference>
            </connector>
            <label>Fall</label>
        </rules>
        <rules>
            <name>Winter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOfClass.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Winter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Winter_Classes_Available_Vol</targetReference>
            </connector>
            <label>Winter</label>
        </rules>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinishButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continue</stringValue>
                </rightValue>
            </conditions>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Role</name>
        <label>Type Of Role</label>
        <locationX>2074</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>ExistingReg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SidewalkerSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SideB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sidewalker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSidewalker</targetReference>
            </connector>
            <label>Sidewalker</label>
        </rules>
        <rules>
            <name>LeaderSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeaderB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeader</targetReference>
            </connector>
            <label>Leader</label>
        </rules>
        <rules>
            <name>BarnAidSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BarnAidB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BarnAid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBarnaid</targetReference>
            </connector>
            <label>BarnAid</label>
        </rules>
        <rules>
            <name>SubSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSub</targetReference>
            </connector>
            <label>Sub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volunteer_position_set</name>
        <label>Volunteer position set</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Registered_Classes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>noSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Volunteer.Volunteer_Position__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_The_Office</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>WaitList</name>
        <label>WaitList</label>
        <locationX>2228</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Assign_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWaitList</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>LeaderNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeaderB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leader</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SidewalkerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SideB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SideWalker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BarnAidNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BarnAidB.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BarnAid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wait_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BarnAide</name>
        <dataType>Number</dataType>
        <expression>
if( isblank({!Get_Volunteer.Barn_Aid_Training_Date__c}), 0,1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BarnAidNeeded</name>
        <dataType>String</dataType>
        <expression>if ({!Loop_Classes.Barn_Aid_Needed__c} &lt;1 ,&quot;Waitlist&quot; ,text({!Loop_Classes.Barn_Aid_Needed__c}))</expression>
    </formulas>
    <formulas>
        <name>Leader</name>
        <dataType>Number</dataType>
        <expression>if( isblank({!Get_Volunteer.Leader_Training_Date__c}), 0,1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LeaderNeeded</name>
        <dataType>String</dataType>
        <expression>if ({!Loop_Classes.Leader_needed__c} &lt;1 ,&quot;Waitlist&quot; ,text({!Loop_Classes.Leader_needed__c}))</expression>
    </formulas>
    <formulas>
        <name>Sidewalker</name>
        <dataType>Number</dataType>
        <expression>
if( isblank({!Get_Volunteer.Sidewalker_Training__c}), 0,1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SidewalkerNeeded</name>
        <dataType>String</dataType>
        <expression>if ({!Loop_Classes.Sidewalkers_Needed__c} &lt;1 ,&quot;Waitlist&quot; ,text({!Loop_Classes.Sidewalkers_Needed__c}))</expression>
    </formulas>
    <interviewLabel>Volunteering Schedule Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteering Schedule Selection</label>
    <loops>
        <name>Loop_Classes</name>
        <label>Loop Classes</label>
        <locationX>1458</locationX>
        <locationY>1406</locationY>
        <collectionReference>ClassSelComp.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetClassInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_class_registration</name>
        <label>create class registration</label>
        <locationX>2228</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>GetCurrentClass</targetReference>
        </connector>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>Loop_Classes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>varRoleRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varWaitListStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer_Info__c</field>
            <value>
                <elementReference>Get_Volunteer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Volunteer_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Reg</name>
        <label>Find Existing Reg</label>
        <locationX>2074</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentclass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Classes.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Volunteer_Info__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Classes_Available</name>
        <label>Get Classes Available</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fall_Classes_Available_Vol</name>
        <label>Get Fall Classes Available Vol</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Results_Fall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fall</stringValue>
            </value>
        </filters>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registered_Classes</name>
        <label>Get Registered Classes</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Info__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer_Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spring_Classes_Available_Vol</name>
        <label>Get Spring Classes Available Vol</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Results_Spring</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Spring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Summer_Classes_Available_Vol</name>
        <label>Get Summer Classes Available Vol</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Results_Summer</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Summer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer</name>
        <label>Get Volunteer</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Volunteer_position_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Winter_Classes_Available_Vol</name>
        <label>Get Winter Classes Available Vol</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Results_Winter</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Class_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>winter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__c</object>
        <sortField>Class_Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClassInfo</name>
        <label>GetClassInfo</label>
        <locationX>2074</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Reg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Classes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentClass</name>
        <label>GetCurrentClass</label>
        <locationX>2228</locationX>
        <locationY>2654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_class_registration</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePreference</name>
        <label>UpdatePreference</label>
        <locationX>1458</locationX>
        <locationY>3146</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetContact</targetReference>
        </connector>
        <inputReference>SelectedClasses.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_The_Office</name>
        <label>Contact The Office</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please contact the office to fix your information&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Error: No level Set&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>currentclass</name>
        <label>Select Role</label>
        <locationX>2074</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_Of_Role</targetReference>
        </connector>
        <fields>
            <name>currentclass_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>currentclass_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>currentclass_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispClassInfo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-3&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;For the following:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Class: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Loop_Classes.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;With a ﻿Start of: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!Loop_Classes.Class_Start__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select your preferred role.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(You can only select one role)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>currentclass_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SideB</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;SideWalker&quot;,&quot;value&quot;:&quot;SideWalker&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sidewalker</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DispSideWalk1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SidewalkerNeeded}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; needed&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SidewalkerNeeded</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Waitlist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DispSideWalk2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!SidewalkerNeeded} Only&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SidewalkerNeeded</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Waitlist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LeaderB</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Leader&quot;,&quot;value&quot;:&quot;Leader&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Leader</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DispLead1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!LeaderNeeded}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; needed&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LeaderNeeded</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Waitlist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DispLead2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!LeaderNeeded} Only&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LeaderNeeded</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Waitlist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BarnAidB</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;BarnAid&quot;,&quot;value&quot;:&quot;BarnAid&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BarnAide</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DispBarn1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!BarnAidNeeded} &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Needed&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BarnAidNeeded</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Waitlist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DispBarn2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!BarnAidNeeded} Only&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BarnAidNeeded</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Waitlist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SubDisp</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Remember!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can always sign up as a substitute!&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SubB</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Substitute&quot;,&quot;value&quot;:&quot;Substitute&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>currentclass_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Main</name>
        <label>Main</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Session</targetReference>
        </connector>
        <fields>
            <name>TypeOfClass</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Winter Session&quot;,&quot;value&quot;:&quot;Winter&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Spring Session&quot;,&quot;value&quot;:&quot;Spring&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Add Summer Session&quot;,&quot;value&quot;:&quot;Summer&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Add Fall Session&quot;,&quot;value&quot;:&quot;Fall&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DispRegClasses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!GetContact.FirstName}, you are registered or requested for the following classes:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;After requesting a class, you will receive a confirmation email confirmation once your volunteer request has been approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Main_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Main_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Main_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Main_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ExistingClasses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Volunteer_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Volunteer_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Status__c,Role__c,ClassName__c,Class_Start__c,Class_Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Class Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:125, Status__c:105, Role__c:130, ClassName__c:285, Class_Start__c:160, Class_Session__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Status__c:center, Preference__c:center, Class_start_date__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Registered_Classes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinishButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Continue&quot;,&quot;value&quot;:&quot;Continue&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varShowContinue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Sessions</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Order</name>
        <label>Select Order</label>
        <locationX>1458</locationX>
        <locationY>3038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePreference</targetReference>
        </connector>
        <fields>
            <name>Select_Order_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Order_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Order_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Instructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Here is the list and the status of your current request.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;We will let you know when we confirm you.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Order_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SelectedClasses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Volunteer_Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Volunteer_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>ClassName__c,Name,Status__c,Role__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>ClassName__c:300, Name:152, Status__c:188, Role__c:574</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Class Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colVolSelectedClasses</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Classes</name>
        <label>Show Classes</label>
        <locationX>1590</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Classes_Selected</targetReference>
        </connector>
        <fields>
            <name>temp</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select the classes that you would like to volunteer in.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;You will be ask to select your preferred role on each class (this is the same screen for each class selected)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Classes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Classes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Classes_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Classes_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ClassSelComp</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Class__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Barn_Aid_Needed__c,Sidewalkers_Needed__c,Leader_needed__c,Session__c,Name,Class_Start__c,Instructor_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Barn_Aid_Needed__c:140, Sidewalkers_Needed__c:180, Leader_needed__c:160, Session__c:115, Name:220, Class_Start__c:180, Instructor_Name__c:545</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ClassWithSession</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Preference__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Barn_Aid_Needed__c:true, Sidewalkers_Needed__c:false, Leader_needed__c:false, Session__c:true, Name:true, Class_Start__c:true, Instructor__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Barn_Aid_Needed__c:center, Sidewalkers_Needed__c:center, Leader_needed__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Sidewalkers_Needed__c:Side Walkers Needed, Leader_needed__c:Leader Needed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Scroll to the bottom after selecting you classes to save.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Next Step</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClassWithSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>ColSelectedClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Class__c</objectType>
    </variables>
    <variables>
        <name>colVolSelectedClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Volunteer_Class__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Results_Spring_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Results_Winter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoleRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShowContinue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWaitListStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
